[2014-03-27 10:15] paulozoom opened #1 "Could not find gem 'middleman-core (~> 3.3) ruby'"
When installing on a current Middleman 3.2.2 project, Bundler reports that `contentful_middleman` depends on Middleman 3.3, and running `bundle update` reports that `middleman-core (~> 3.3) ruby` can’t be found on rubygems.org.

[2014-09-08 17:18] wanderingcrow opened #2 "html tags not coming in?"
[code]

=entry.body is coming in without any HTML tags. I'm sure this isn't an issue with the gem and is just a learning issue on my part, but I couldn't find any documentation that gave a better example. Essentially, I just want the entry.body to pull in the raw html.

[code]

[2014-09-13 16:52] #2 closed, assigned to nobody

[2015-02-02 08:27] pxlpnk commented on #1
This seems to be resolved.

[2015-02-02 08:27] #1 closed

[2015-02-02 08:48] madtrick opened #9 "Dependency with middleman-blog"
After the changes introduced in version 1.0.0 the extension is no longer coupled to generate blogs but it still has a dependency with `middleman-blog` (see https://github.com/contentful-labs/contentful_middleman/blob/master/lib/contentful_middleman/commands/contentful.rb#L2).

See if it's possible to use other, more lightweight, libraries to get rid of `middleman-blog`

[2015-02-02 08:49] madtrick opened #10 "Set dependency with middleman-blog"
Update the `gemspec` file to include the dependency on `middleman-blog`

[2015-02-03 08:00] madtrick commented on #10
This will be fixed in https://github.com/contentful-labs/contentful_middleman/pull/11

[2015-02-05 13:14] #10 closed

[2015-02-09 21:29] martinholmin opened #12 "Content model with location field"
I just started playing around with a content model including a location field. Trying to import data throws the following error `can't dump anonymous class: Contentful::DynamicEntry[4LCKv2iJxSMacAQ62gWeeQ] (TypeError)`.

I'm about to start digging deeper, but I just wanted to check if it might be a beginners mistake.

My config block looks like this:
[code]

Any help is greatly appreciated

Full s

[2015-02-13 13:26] madtrick commented on #12
@martinholmin thanks for reporting this. The fix should be soon deployed

[2015-02-16 09:21] madtrick commented on #12
@martinholmin could you please update the gem and try again?

[2015-02-16 09:22] #12 closed

[2015-02-18 11:13] martinholmin commented on #12
It works fine. Thank you!

[2015-03-09 15:02] Naatan opened #15 "cda_query not documented"
Neither here nor in contentful.rb

[2015-03-09 15:10] Naatan opened #16 "'require': cannot load such file -- Contentful_middleman/import_task"
Line 8 has uppercase character, changing to lowercase fixes it.

[code]

[2015-03-09 15:17] madtrick commented on #16
Hi, that was fixed on this PR https://github.com/contentful-labs/contentful_middleman/pull/14 and it should be included on the next release (which should happen soon)

[2015-03-09 15:19] madtrick commented on #15
Do you mean the [query parameter](https://www.contentful.com/developers/documentation/content-delivery-api/#search-filter-full-text)?

[2015-03-09 15:21] Naatan commented on #15
I'm not sure, you tell me? :p

I'm talking about `cda_query` mentioned in https://github.com/contentful-labs/contentful_middleman/blob/master/README.md

(ctrl+F - `cda_query`)

[2015-03-09 15:29] Naatan opened #17 "`map_entry': undefined method `id' for "add-on":String"
This one I haven't found a workaround for yet. I've just imported some content into Contentful and am now trying to load it into Middleman, running `middleman contentful`.

My config:

[code]

The full error stack:

[code]

I do not have an `add-on` field in my content_type.

[2015-03-09 15:38] madtrick commented on #15
Ah sorry, I get it now. You have an example of the `cda_query` option [in the README](https://github.com/contentful-labs/contentful_middleman/blob/master/README.md#configuration-examples) and it's also described in the [usage section](https://github.com/contentful/contentful.rb#usage) of the https://github.com/contentful/contentful.rb gem (search for `client.entries`)

[2015-03-09 15:41] Naatan commented on #15
I see, that's not exactly intuitive though. When I'm being directed to another page for documentation on `cda_query` I do not expect the terminology to change and be expected to read the entire page to figure out what it may connect to. I'd suggest adding something like "referred to as client.entries" to your readme here.

[2015-03-09 15:43] madtrick commented on #15
Yep, that's a great idea. Will do that! and thanks for your feedback

[2015-03-09 15:43] #15 closed

[2015-03-09 16:18] madtrick commented on #17
@Naatan I found the issue and it shouldn't be difficult to solve it. Will be back to you once fixed

[2015-03-10 14:21] capriosa opened #20 "What's wrong with this cda_query"
What is wrong with this cda_query?
...
f.cda_query     = { content_type:'2wKXXXXXXXs4as', category: 'Markdown', include: 1 }
f.content_types = { post:'2wKXXXXXXXs4as' }
...

I get this error:
/Library/Ruby/Gems/2.0.0/gems/contentful-0.5.0/lib/contentful/client.rb:174:in `get': The query you sent was invalid. Probably a filter or ordering specification is not applicable to the type of a field. (Con

[2015-03-10 17:06] madtrick commented on #17
We have just released a new version of the gem that fixes this issue. Please try again and now it should work

[2015-03-10 17:06] #17 closed

[2015-03-10 17:06] madtrick commented on #16
We have just released a new version of the gem which includes a fix to this issue

[2015-03-10 17:06] #16 closed

[2015-03-10 17:09] madtrick commented on #20
Hi @capriosa,

You are getting that error because you are using an unsupported filter parameters: `category`. Please take a look a the [documentation](https://www.contentful.com/developers/documentation/content-delivery-api/#search-filter) to find which are the supported filter parameters.

I guess that on this case you will want to do something like:

[code]

[2015-03-10 17:09] #20 closed

[2015-03-10 18:01] capriosa commented on #20
For a normal textfield like "title" this does the trick:
f.cda_query     = { content_type:'2wKn6yEnZewu2SCCkus4as', 'fields.title[match]' => 'Markdown',include:1}
Thanks

[2015-04-01 20:41] Naatan opened #24 "Is there a way to get unpublished articles?"
It'd be nice if I could pull in unpublished articles so I can test them on a dev/QA environment before "publishing" them. Is this possible with this extension?

[2015-04-01 20:44] pxlpnk commented on #24
The current master includes the ability to set `use_preview_api` to `true` this will allow you to see unpublished articles.
See also the documentation for it: https://www.contentful.com/developers/documentation/content-delivery-api/http/#preview-api

[2015-04-03 07:15] netlify-user-nomads opened #25 "OpenSSL::SSL::SSLError"
I am working on windows 8 64 bit machine.

When I write the following command I get this error "middleman contentful"

C:/Ruby193/lib/ruby/gems/1.9.1/gems/http-0.8.1/lib/http/timeout/null.rb:23:in `connect': SSL_connect returned=1 errno=0 state=SSLv3 read server certificate B: certificate verify failed (OpenSSL::SSL::SSLError)

Can anybody help me with this ?

[2015-04-03 14:01] pxlpnk commented on #25
It seems Windows does not deliver proper SSL certs to validate against.
You should be able to use the one that curl provides you.
See this link: https://gist.github.com/fnichol/867550#the-manual-way-boring
You have to adjust the place where you put the `cacert.pem` file.

[2015-04-17 12:37] madtrick commented on #25
@netlify-user-nomads any update on this?

[2015-04-17 12:37] madtrick commented on #24
@Naatan any update on this?

[2015-04-17 14:58] Naatan commented on #24
Sorry I was so busy when I posted this I didnt even remember to report back.

The suggestion @pxlpnk gave works fine, just update to the master branch.

[2015-04-17 14:58] #24 closed

[2015-04-27 17:06] javaporter opened #32 "more examples"
Can you add an example to the readme that illustrates

- [ ] what you would add to the config file to get MM to pull fresh contentful posts before build
- [ ] how you would create a template for blog posts (and an index that links to them, e.g. `li: a(href=post._url)= post.title`)

[2015-04-27 18:38] renatocarvalho commented on #32
+1

[2015-04-30 01:13] bricesanchez commented on #32
:+1:

[2015-04-30 19:22] tdreyno opened #33 "Default config options only fetch 100 entries"
This seems like an oversight since the expectation of this plugin is that it'd fetch the entire data set and serialize it.

[2015-05-04 08:24] madtrick commented on #25
@netlify-user-nomads I'm going to close this. If you have any more issues please feel free to reopen it.

[2015-05-04 08:24] #25 closed

[2015-05-04 08:48] neonichu commented on #33
This is true. You can use the `cda_query` to fetch more entries (up to 1000) like this:

[code]

[2015-05-04 16:32] tdreyno commented on #33
Cool. Feel free to close this if it's just a documentation issue.

[2015-05-05 08:37] vishu099 opened #35 "How to import multiple content types"
I have created multiple content types in my contentful and would like to get that data into my middleman.

Please suggest me how can I do so ?

[2015-05-05 08:38] #33 closed

[2015-05-05 10:02] neonichu commented on #35
You can remove the content-type filter from the `cda_query` parameter and define multiple mappings for all your content-types. This would look somewhat like this:

[code]

[2015-05-05 11:26] #35 closed

[2015-05-05 18:27] nijotz opened #36 "Multiple mappers"
Being able to provide a list of mappers for a content type would be helpful.  I have a mapper that adds the 'sys' data from Contentful to the YAML files (I need updated/created timestamps).  I also have a mapper that adds back-references to the YAML files.  It would be nice to provide these mappers as a list.  To work around this, I've had to pull out these two different mapping functions and crea

[2015-05-08 11:59] vishu099 opened #37 "How to submit form data from middleman page to contentful"
I have created a form page in my middleman and I would like to submit the form data and store it into the contentful content type. Is there any way I can achieve this ?

[2015-05-08 12:07] neonichu commented on #37
Since middleman generates a static site, this isn't directly possible. However, you can probably build a solution using our Content Management API: <https://www.contentful.com/developers/documentation/content-management-api/#libraries>
Keep in mind that Contentful is not meant to store individual user data, though.

[2015-05-08 12:07] #37 closed

[2015-05-21 10:36] vishu099 opened #38 "MultiLingual"
I have enabled localization in my contentful account. Can anyone guide me how can I have multi-lingual content in my contentful middleman

[2015-05-21 11:26] neonichu commented on #38
You can select the locale you want to fetch via the `cda_query` parameter:

[code]

[2015-05-21 11:26] #38 closed

[2015-05-21 11:51] vishu099 commented on #38
This way I am able to fetch one language content but I want to fetch both the contents like in ENGLISH as well as in GERMAN

[2015-05-21 11:54] neonichu commented on #38
This isn't easily possible, because the CDA will only ever serve one locale per request.

You could try activating the extension multiple times with different `cda_query` parameters for the same space, but I'm unsure what the result would be.

[2015-05-21 12:03] vishu099 commented on #38
Can you please give me an example of what you are asking me to do ?

[2015-05-21 12:05] neonichu commented on #38
Basically have two of the configuration blocks described in this section <https://github.com/contentful-labs/contentful_middleman#configuration> in your middleman configuration, each with different `locale` parameters in the `cda_query`.

[2015-05-21 12:35] vishu099 commented on #38
I have tried that option but that fetches the data of the last configuration block

[2015-05-21 12:37] neonichu commented on #38
Sorry, then this use case is not supported at this point.

[2015-05-22 05:47] vishu099 opened #39 "New Feature Request - Multilingual Support"
Can we add a new feature in contentful middleman to get two languages at the same time from contentful.

The issues I am facing is that I have added a content in 2 different languages in the contentful and now  I would like to get both the language content.

Current there is no way possible in which I can fetch both the content

I even tried this but it doesn't work

activate :contentful do |f|

[2015-05-22 19:48] Naatan opened #40 "Add warning when limit is reached"
I just spend half an hour trying to figure out why my new content wasnt showing up. Ended up being this: https://github.com/contentful-labs/contentful_middleman/commit/8e4c4010f6fecac7e95010306b4a6ac6bf4ef300

[2015-05-22 19:48] Naatan opened #41 "Add content paging"
It seems a bit odd that there is a content limit and no way around it, basically i can't use this addon if I ahve more than 1000 content entries?

[2015-06-04 23:57] nijotz opened #42 "Circular links cause stack overflow"
/Users/nicktzaperas/.rbenv/versions/2.2.1/lib/ruby/gems/2.2.0/bundler/gems/contentful_middleman-a512465f271c/lib/contentful_middleman/mappers/base.rb:50:in `map_entry': stack level too deep (SystemStackError)

[2015-06-05 17:42] nijotz commented on #42
This seems to fix it:
https://github.com/contentful-labs/contentful_middleman/pull/43
Pretty basic, but works

[2015-06-05 19:52] nijotz commented on #42
Just came across something.  The existing code traverses a tree (really a graph, but in most cases a tree) pre-order.  By traversing pre-order until it comes across an entity it has already encountered, it can create lop-sided data structures.  I have an entity that links to four other entities and only two of them have the full data, the other two are just IDs.  Traversing breadth-first may be mo

[2015-06-08 22:59] nijotz commented on #42
Ahhh, okay.  So, the `:include => 1` is working, but the ResourceBuilder class in contentful.rb uses `replace_children`, `replace_children_array`, and `replace_links_with_known_resources` which creates circular links.

I'm going to redo pull request #43 to do a breadth-first search, stopping when it gets to a resource that's already been mapped.  I'm not proposing that this is the ideal solution f

[2015-06-09 00:20] nijotz commented on #42
I opened #44, which does a breadth-first search of entries.  This fixed the lop-sided data structures I mentioned [here](https://github.com/contentful-labs/contentful_middleman/issues/42#issuecomment-109420411)

[2015-06-09 00:21] nijotz commented on #40
:+1:

[2015-06-11 20:52] katperez commented on #42
Hi there. Not sure if it is just me but I am now getting something similar except it is with map_asset -

/Users/katperez/.rbenv/versions/2.2.2/lib/ruby/gems/2.2.0/gems/contentful_middleman-1.1.0/lib/contentful_middleman/mappers/base.rb:42:in `map_asset': stack level too deep (SystemStackError)

[2015-06-11 21:22] nijotz commented on #42
@katperez Ya, that looks like the same error I was getting.  I'm curious if the change I made fixes your problem as well.  Have you tried the fix in that PR?  I've been using it by changing my Gemfile to have this:

`gem "contentful_middleman", :git => "https://github.com/Instrument/contentful_middleman.git"`

[2015-06-11 21:23] katperez commented on #42
@nijotz Well I added the asset id after line 43 and it seems to work now -
[code]

[2015-06-11 21:28] nijotz commented on #42
Huh, interesting that *that* change would make the circular calls stop

[2015-06-11 22:26] katperez commented on #42
@nijotz I have no clue

[2015-06-12 06:47] pxlpnk commented on #42
We will look into this as soon as possible. Sorry for the delay

[2015-07-17 07:14] neonichu commented on #42
This was fixed by #44, I believe.

[2015-07-17 07:14] #42 closed

[2015-08-05 20:56] unity commented on #32
+1 - our precise use case is to allow blog post editing by non technical users in our organization. In that regard, 0.0.4 seemed more straightforward. Is is still doable ? Data files help but they're not well suited to blog posting imho.

Also, do you have any examples of this used in conjunction with CI ? We have CI running right now. Do you have examples of webhooks-based deploys or something al

[2015-08-05 21:35] javaporter commented on #32
I was able to find an example. They link the github repo in the bottom of the article. It took a bit of time, but I was able to follow it enough to solve all my issues. I left the issue up though because I do think it's important to have this stuff in the documentation.

I'd fork it and add it, but a lot of this is over my head, and while I can follow it, I'm not prepared to write it up.

[2015-09-17 23:04] nijotz opened #45 "Handle more than 1000 entries"
You can't activate the contentful_middleman extension multiple times to get more than 1000 entries, because it will remove the existing YAML files.  I had to modify contentful_middleman to allow more than 1000 entries:
https://github.com/Instrument/contentful_middleman/commit/c0313de2fecc70e7d27dbab52bbd9b61196dca6f

[2015-09-17 23:44] neonichu commented on #45
Would be cool if you could make a PR out of that commit :)

[2015-10-01 18:14] jeromegn commented on #39
This feature would make me switch to using contentful.

[2015-10-10 07:11] vladzima opened #46 "Passing array in template"
Trying to figure out a way to display value from array in YAML:

[code]
I tried to pass an URL value in template in many ways like post["pic.url"], post["pic"]["url"] and so one, but in most cases I get NilClass error.

What would be the proper construction?

[2015-10-22 15:07] dlitvakb opened #48 "Add specs for major features"

[2015-10-22 15:08] dlitvakb opened #49 "Add specs for minor features"

[2015-10-22 15:08] dlitvakb opened #50 "Get as close as 100% coverage"

[2015-10-22 15:22] dlitvakb commented on #46
Hi @vladzima,

Thank you for your question.

Can you please try the following way:

[code]

As the yml you are describing is using Ruby Symbols as identifiers instead of strings.

Please let me know if that helped

[2015-10-26 10:27] dlitvakb commented on #40
Hi @Naatan,

This should be solved with the merge of #52

[2015-10-26 13:46] dlitvakb commented on #39
@vishu099 @jeromegn This will be available once [contentful/#72](https://github.com/contentful/contentful.rb/pull/72) gets merged and released.

For allowing that, in the CDA Query, you need to specify `locale: "*"`

Thank you very much for your feedback.

Please let us know if this helped

[2015-10-26 13:53] #9 closed

[2015-10-26 13:53] #45 closed

[2015-10-26 13:55] dlitvakb commented on #40
As #52 is now merged, you should be able to add `f.all_entries = true` in your `activate :contentful` block in `config.rb`

[2015-10-26 13:55] #40 closed

[2015-10-26 15:55] dlitvakb commented on #36
@nijotz Can you explain a bit better what you're trying to accomplish?

For what I understand, what you want could be accomplished by using a Composite Mapper, something like this

[code]

Then in your config.rb file:

[code]

Please let me know if this helps

[2015-10-26 16:12] dlitvakb commented on #41
Hey @Naatan,

The latest upstream version has an option for `:all_entries` which allows for Content Types with over 1000 entries

Hope that helps

[2015-10-26 16:12] #41 closed

[2015-10-27 17:28] nijotz commented on #36
Nice, I ended up doing something similar.  Figured having this kind of functionality built-in, in the docs, and/or in the examples would be helpful.  Thanks!

[2015-10-27 17:39] nijotz commented on #45
Thanks @dlitvakb!

[2015-11-02 22:20] #39 closed

[2015-11-04 03:02] jordanandree opened #54 "Mapping Entries to Middleman::Sitemap::Resource objects"
I'm wondering if there would be benefit in a feature that allows Contentful Entries to be mapped to [Middleman `Sitemap::Resource`](https://middlemanapp.com/advanced/sitemap/#sitemap-resources) objects for passing off to templates and use across other middleman features. In my use case, I have a Content Type named `Article` for a blog that I want to built out individually and on an index page.

I

[2015-11-04 08:36] grncdr commented on #54
Hey @jordanandree that's indeed a pretty good idea, and one of our developers implemented something like that in [`contentful-middleman-pages`](https://github.com/contentful/contentful-middleman-pages/blob/master/lib/contentful/middleman-pages/extension.rb#L82-L104).

Unfortunately `contentful-middleman-pages` isn't totally finished, and sits a little bit lower on the priority list for us at the m

[2015-11-05 02:03] jordanandree commented on #54
oh interesting! looks like contentful-middleman-pages might get me the functionality i need. I'll take a look at it and see! thanks!

[2015-11-05 02:03] #54 closed

[2015-11-09 20:21] olliekav opened #56 "Middleman V4 Compatibility"
Has there been start on making this extension compatible with v4? The extension seems to be found okay and activated but the CLI command cannot be found.

[code]

The documentation on what has changed is so light for MM at the moment I can't find what has been changed that might cause this.

[2015-11-09 20:27] dlitvakb commented on #56
Hey @olliekav,

Thanks for the input.

We haven't looked into migrating yet.

Probably will be done as a next step, after we add support for Webhooks (which is a feature that's about to be released).

[2015-11-09 20:28] olliekav commented on #56
@dlitvakb sounds good. Thanks for the prompt reply.

[2015-11-10 12:21] dlitvakb commented on #46
Hey @vladzima,

Have you been able to solve this problem?

[2015-11-10 12:26] dlitvakb commented on #32
Hi @javaporter, @renatocarvalho, @renatocarvalho, @unity,

We've been working on adding examples on https://github.com/contentful-labs/contentful_middleman_examples

I think they cover the most usual use cases, and have a single command setup.

For the case of having pages for each resource, there is also https://github.com/contentful/contentful-middleman-pages which is a work in progress, but can

[2015-11-10 12:30] dlitvakb commented on #36
Hey @nijotz,

Thanks on the input, I'll add more information on this on the README

[2015-11-10 12:30] #36 closed

[2015-11-10 17:17] javaporter commented on #32
@dlitvakb Super helpful, thanks.

The webhook is a great idea, but if people don't want to wait, Netlify currently has that and Forge either has it already or is quite close. I set up the Netlify one in like a minute (literally).

I'll fork and add to your examples if I can. I've been using angular for stuff that doesn't need to be a dynamically created page (because it updates in seconds, vs the

[2015-11-10 17:17] #32 closed

[2015-11-19 21:33] gracelauren opened #60 "Need to specify order when pulling in more than 1000 entries from Contentful"
We found that if an order is not specified in the query for pulling down contentful data that some data is randomly skipped and you don't receive the full data set. This can be solved either in the configuration block in `config.rb` where you add to the cda_query: `order: 'sys.createdAt'` OR in the `instance.rb` file of the all_entries method where you could add: `query[:order] = 'sys.createdAt'`

[2015-11-20 14:38] dlitvakb commented on #60
Hey @gracelauren,

Thanks for the input, regarding adding ordering built-in into the ContentfulMiddleman::Instance, we've thought of that, but dropped it away because if we added ordering inside there, it would override any ordering you may want to add on the configuration block.

Would you suggest, that adding a note on the README.md regarding ordering would be helpful?

Hope to hearing from you

[2015-11-20 17:10] gracelauren commented on #60
Hey @dlitvakb  I think a note in the README.md around the where you are talking about the ability to grab all entries would be good just in case it isn't apparent that without specifying any sort of order, you run the chance of skipping some of the data when you pull down. Thanks for getting back so quickly!

[2015-11-20 17:32] dlitvakb commented on #60
Hey @gracelauren,

No problem!

Will add a note!

[2015-11-20 17:34] dlitvakb commented on #46
Closing as no feedback was received.

[2015-11-20 17:34] #46 closed

[2015-11-20 18:48] gracelauren commented on #60
:+1:

[2015-11-23 17:07] dlitvakb opened #63 "Middleman is incompatible with Ruby < 2.0.0"
We need to update our `travis.yml` file to avoid checking against unsupported versions.

Middleman requires Capybara, which requires `mime-types` and does not support Ruby < 2.0.0

[2015-11-23 17:32] #63 closed

[2015-11-23 19:38] #60 closed

[2015-12-01 09:40] #48 closed

[2015-12-01 09:40] #49 closed

[2015-12-01 09:40] #50 closed

[2015-12-25 02:29] sergiocerrutti opened #67 "How to get assets?"
Hi,

I have added a File input to a content type, and attached an image to a new entry, but when I pull the content, the entry is created without any reference to the image, only text inputs.

How can I access to that asset from the template if it's not in the data folder?

Thank you so much, please understand I'm a completely noob using Ruby and Middleman.

[2015-12-28 12:59] dlitvakb commented on #67
Hi @sergiocerrutti

Hope you had a great Christmas! :christmas_tree: :santa:

Please make sure that your Content Type is Saved and Published on the Contentful App or Contentful CMA API.

After that, you'll have something like:

[code]

Once with that data in your data folder, you can use it in your templates like [this](https://github.com/contentful-labs/contentful_middleman_examples/blob/master/e

[2015-12-30 01:20] javaporter commented on #56
MM is now v4, just bumping this.

[code]

Thanks for the work on this gem, btw. I use it all the time.

[2016-01-04 11:53] dlitvakb commented on #67
Hi @sergiocerrutti,

We're you able to solve this with the example provided?

Cheers

[2016-01-06 17:30] dlitvakb commented on #67
Hey @sergiocerrutti,

I'm closing this as no further response was provided.

Please feel free to re-open it if you don't find my answer satisfactory or have further related questions and we can follow up on the subject.

Cheers

[2016-01-06 17:30] #67 closed

[2016-01-06 17:34] dlitvakb commented on #56
Hey @javaporter,

We'll be doing a migration to v4 really soon, there are a few things we are finishing before moving onto this, though next week we're probably starting.

Thank you for your interest and support.

Hope all of the new lately introduced features have been put onto good use :smile:

[2016-01-06 22:07] bretmorris opened #68 "Ordering content by creation date."
I feel like I'm taking crazy pills here! I've looked all over the internet and cannot find a solution...

The problem:

I am using contentful to essentially create a blog. The content type I am interested in displaying and ordering is called "post". So far I have managed to pull all my posts into /data/blog/posts using the following configuration:

[code]

__note: I intentionally left out the IDs

[2016-01-07 12:37] dlitvakb commented on #68
Hey @bretmorris,

Would you share the `f.cda_query` in the activate block? As I said in the Stack Overflow post, you can specify order.

On an aside note, you can add Meta-data to your Content-Types and use that for ordering, for example, an Order numeric field, or a Featured Article boolean field are good ways to sort your entries if you need fine-grained specific ordering. Then including that in

[2016-01-07 15:37] dlitvakb commented on #56
Hey @javaporter @olliekav,

I've added a new branch with support for Middleman v4 ->  [here](https://github.com/contentful/contentful_middleman/tree/dl/upgrade-to-v4)

This will not be released in RubyGems yet, but you're free to use it and test it.

Please let us know if you find any bugs in this new version.

[2016-01-07 16:37] javaporter commented on #56
@dlitvakb Awesome, thanks. I'll check it out this week.

[2016-01-07 17:32] bretmorris commented on #68
Hey @dlitvakb my cda_query looked like this:

[code]

Ordering by createdAt, reverse createAt, publishedAt, etc. seems to have no effect on the output.

Thanks!!

[2016-01-08 17:42] wmakley commented on #56
I'm getting the error with the experimental branch still:

    Could not find command "contentful".

[2016-01-08 21:26] dlitvakb commented on #56
@wmakley just pushed an updated version.

Turns out there is a lot more in the v4 transition that what Middleman docs say.

[2016-01-11 12:00] dlitvakb commented on #68
Hey @bretmorris,

Sorry it took a bit longer to answer this, but I was trying to understand what the problem was.

In fact, all 'sys.*' orderings you've been using actually work, but at *import* time. That means, that once data is imported, the entries in the `data` directory are ordered by `id` regardless of the ordering provided in the `cda_query`. This can be overridden in any of the following

[2016-01-11 18:14] bretmorris commented on #68
@dlitvakb thank you I actually ended up coming upon a similar solution:

- I added a date field to my posts
- I added a custom extension that essentially added a new property to the data hash called `posts`. I made `posts` an array and sorted it by the newly added date field.
- In my templates I then accessed those posts like by looping through `data.posts`.

This seems like the sort of thing that

[2016-01-11 18:17] wmakley commented on #56
Getting there, maybe this one is my mistake, but it's hard to tell where the initial error propagated from. I am still learning the contenful gem.

[code]

[2016-01-11 19:58] jsdalton opened #70 "Contentful middlman sets :environment instead of :mode (MM v4 issue)"
Howdy,

For v4 support, consider the following change in MM V4:

https://middlemanapp.com/basics/upgrade-v4/#environments-and-changes-to-configure-blocks

Basically middleman now has the concepts of "environment" (e.g. development, staging, production, what have you) vs. "mode" (e.g. build or mode).

Presently Contentful Middleman behaves in the old way, by using the environment config setting to

[2016-01-11 20:47] dlitvakb commented on #68
Hey @bretmorris

Glad it helped you.

Closing the issue

[2016-01-11 20:47] #68 closed

[2016-01-11 20:49] dlitvakb commented on #70
Hey @jsdalton

Thanks for the input,

Will add that

[2016-01-11 20:52] dlitvakb commented on #56
Hey @wmakley,

2 small questions:

1. For `f.space`, what is called `'SECRET'` in your pasted `config.rb` is the `space_id` right?
2. Have you tried this with the v3 version and encountered the same issue? Or it is exclusive to v4?

Thanks

[2016-01-11 20:55] wmakley commented on #56
1. Correct.
2. I set up a project for v3, but I could not get it to work at all: I set up config.rb exactly as shown, but kept getting an error message that I needed to call "activate :contentful", even though I verified that it was being called.

[2016-01-11 21:21] dlitvakb commented on #56
As for the "activate :contentful" part... it happened to me once, got it solved by deleting the Gemfile.lock file and running `bundle install` again, make sure that for the v3 project you are running on `v0.8.0` or the `master` branch, the upgrade to MMv4 is backwards incompatible (though the config.rb should remain the same)

[2016-01-11 21:22] dlitvakb commented on #70
Hey @jsdalton,

I've changed that now,

Feel free to keep testing the v4 integration :+1:

Thanks again for providing feedback

[2016-01-11 21:22] #70 closed

[2016-01-12 01:34] wmakley commented on #56
Did you mean a different gem for 0.8.0? contentful_middleman doesn't have a version 0.8.0.

[2016-01-12 11:37] dlitvakb commented on #56
Sorry @wmakley , I meant `1.3.0`

[2016-01-12 17:56] javaporter commented on #56
@dlitvakb I'm won't have a chance to really bang on this until I use it on a site in production (or start a new site), but I did do a quick demo and so far, everything seems to be working for me. I set something up in case it helps other people: https://github.com/javaporter/mm4-contentful

[2016-01-12 18:01] wmakley commented on #56
Still getting this error with v3: "You need to activate the contentful extension in config.rb before you can import data from Contentful". I guess I will make a new issue for it.

[2016-01-12 18:03] wmakley opened #71 "Error: You need to activate the contentful extension in config.rb before you can import data from Contentful"
This is a completely blank middleman 3 site with contentful_middleman installed. Ruby 2.2.4.

config.rb:
[code]

Gemfile:
[code]

Error:
[code]

[2016-01-13 18:04] jsdalton opened #74 "Files being duplicated on contentful import (v4 bug)"
Ran into an issue today where I was seeing duplicate files being created on import.

Turned out it was a bug in the contentful_instances method, which was continually creating a new Middleman Application and adding new contentful instances on each call.

PR #73 addresses the issue with a proposed fix.

[2016-01-13 19:42] #71 closed

[2016-01-13 21:56] tysongach commented on #71
I’m running into the same issue, also on a fresh installation of Middleman (`3.4.1`).

Any solutions until this fix gets released as a gem update?

[2016-01-13 23:56] wmakley commented on #56
Finally got v3 working, looks the problem with v4 is my fault. Same error:

    lib/contentful_middleman/mappers/base.rb:67:in `map_entry_full': undefined method `each' for nil:NilClass (NoMethodError)

I assume there is some empty response that is propagating a little too far. Maybe the API isn't working for me.

[2016-01-14 10:28] dlitvakb commented on #71
Hey @tysongach

The gem will be updated today, branch got merged yesterday very late and didn't get enough time to make a release.

You can use `branch: master` in your Gemfile, or wait until release today (around 7AM PST)

Cheers

[2016-01-14 10:31] dlitvakb commented on #74
Closed via #73

[2016-01-14 10:31] #74 closed

[2016-01-14 10:33] dlitvakb commented on #56
@wmakley can you open a new ticket regarding this issue?

I need some more information that's not related to this issue (mm4 integration).

[2016-01-14 10:33] dlitvakb commented on #56
@javaporter Thanks! That's awesome!

[2016-01-14 11:00] dlitvakb commented on #71
Hey @tysongach,

Version 1.3.1 was just released

Sorry for the inconvenience

[2016-01-14 13:41] wmakley commented on #71
Thanks, that fixed it.

[2016-01-14 15:33] tysongach commented on #71
@dlitvakb Great, thank you! Working for me now, as well. Appreciate the fast response!

[2016-01-14 19:44] tysongach opened #75 "Hash dotfile created on import"
I couldn’t seem to find any information on what the `.*-hash` files that are created (placed in the project root) when importing content from Contentful. Curious what their purpose is and if they are something we would commit to Git, or rather not?

Thanks!

[2016-01-14 20:36] dlitvakb commented on #75
Hey @tysongach,

The `.*-hash` files are created to check for cases when you have imports on a cron job.

You can use then the `ContentfulMiddleman::VersionHash` to calculate if it changed or not

Hope that helps

[2016-01-14 20:46] tysongach commented on #75
Gotcha! So, if we choose to commit our data files of content, it wouldn’t hurt to also go ahead and commit that hash, I bet.

Thanks for the help!

[2016-01-14 20:46] #75 closed

[2016-01-15 20:51] wmakley opened #76 "lib/contentful_middleman/mappers/base.rb:67:in `map_entry_full': undefined method `each' for nil:NilClass (NoMethodError)"
- ruby 2.2.4
- middleman 3.4.1 (and 4.0)
- contentful_middleman 1.3.1 (and 4.0 experimental)

Since it works for other people, I assume I must be doing something wrong (possibly my contentful account is not functioning), but the issue is propagating down the call chain so I have no idea what went wrong. I will update if I find anything out!

The contentful space is the "Blog" template provided by

[2016-01-15 22:00] dlitvakb commented on #76
Hey @wmakley,

I'll be looking into this

[2016-01-15 22:04] wmakley commented on #76
Thank you. I caused this by creating a contentful blog from the template under a "limited free account", and setting up the middleman project as shown using the "Preview API access token". I guess I will have to test the API access to see if there is just some account limitation.

[2016-01-15 22:09] yanickouellet opened #77 "TypeError when the ContentType contains integer id"
In Contentful, if I have a content type with an integer field named `id`, it seems cause a TypeError here https://github.com/contentful/contentful_middleman/blob/master/lib/contentful_middleman/import_task.rb#L38 because entry.id is an Integer.

Also, if I use a string for the field name instead of an int (and the id is still numeric, ex: 1001), the import works the first time, but after, it does

[2016-01-15 23:05] dlitvakb commented on #76
Hey @wmakley,

I've tried creating a new Space from the Contentful UI using the Blog template.

Created a new Middleman v3.4.1 with `contentful_middleman` v1.3.1.

After running `middleman contentful` this is what I get:

[code]

My `config.rb`:

[code]

My `Gemfile`:

[code]

Please let me know if this helped

[2016-01-16 00:52] dlitvakb commented on #77
Hey @yanickouellet,

Sadly this is a limitation of the `contentful.rb` gem in which `contentful_middleman` relies.

Fields with `id` as name shadow `sys.id` which can cause some amount of problems.

I'm not certain of the extent of this, and will take a bit to test.

The temporary solution is to rename that field to `internal_id` or something of sorts, so that it doesn't conflict with the librarie

[2016-01-18 12:22] dlitvakb commented on #77
Hey @yanickouellet,

Found a nice easy to implement solution that can work permanently.

PR Created and referenced above.

Sorry if this bug caused you any significant troubles,

Cheers

[2016-01-18 14:52] wmakley commented on #76
So the problem with my site is I was using the preview API. I was under the impression that production was disabled, and that preview was equivalent. I guess I misread the documentation.

[2016-01-18 16:16] dlitvakb commented on #76
Hey @wmakley,

The Preview API is for unpublished content, and can be used to test content before pushing it to public.

Even though probably your problem was related to using the wrong key, the gem shouldn't throw this kind of error.

I'll look into what caused this failure and try to figure out a solution during the next few days.

Hope this helps,

Cheers

[2016-01-18 17:46] wmakley commented on #76
I think it was just because there was no unpublished content then.

On Mon, Jan 18, 2016 at 11:16 AM, David Litvak Bruno <
notifications@github.com> wrote:

--
William Makley
Lead Developer | Tortus
413.788.5080 x2 | wmakley@tortus.com | http://tortus.com/

[2016-01-19 17:35] yanickouellet commented on #77
Hey @dlitvakb ,

It is not a big issue for me, I will use other field name until the PR is merged, but thanks for the quick fix, it is really appreciated!

[2016-01-21 09:21] #77 closed

[2016-02-15 18:18] limay opened #79 "How to obtain Content type id?"
I'm trying to setup this gem, and the only problem I have is that I don't know how to get the ID for the content type I have created in Contentful.

Ej. I can't find CONTENTTYPE_ID

f.content_types = {
    page: CONTENTTYPE_ID
 }

I tried using the API Console but I can't see the number in the json output.

Thanks

[2016-02-17 20:42] ckundo commented on #76
We're having the same problem when using the preview API to pull content. The is an issue for us because we need the preview content in a staging environment before publishing. Thanks for working on this.

[2016-02-18 18:31] dlitvakb commented on #79
Hey @limay,

There are 3 ways currently to fetch a Content Type ID:

1) Get it from the Content Type's JSON Preview:

* Go to https://app.contentful.com
* Select your Space and go to Content Types
* Select your Content Type
* Click on `JSON Preview`
* Find the top-level `"sys"` block in the JSON, this includes the Meta-Data of your Content Type
* The `"id"` key inside the `"sys"` block will contai

[2016-02-18 18:31] #79 closed

[2016-02-19 19:05] #76 closed

[2016-04-12 19:06] philipbenton commented on #56
I'm hitting a problem I need a hand with...

I'm playing with Middleman & Contentful integration with sample Contentful content. I've pulled down data which for this example i'll call Posts.

I am trying to use Middleman Dynamic Pages to create a page for each post. I have this code in my config.rb file which works fine:

`data.content.post.each do |id,post|
  proxy "post/#{post.slug}.html", "post

[2016-04-12 19:12] dlitvakb commented on #56
Hey @philipbenton,

Simple fix! As the `config.rb` gets loaded before calling the `contentful` extension, you need to make sure that code doesn't get executed unless data is present, `middleman` auto-defines methods for it's `data` object based on the contents found inside it, therefore, if they don't currently exist, you need to avoid calling them. To do so, change your code to the following:

[c

[2016-04-12 19:20] philipbenton commented on #56
@dlitvakb afraid that hasn't helped. If I call `middleman contentful` or `middleman` I still get that same error:

`/Users/philipbenton/.rvm/gems/ruby-2.3.0/gems/middleman-core-4.1.6/lib/middleman-core/core_extensions/data.rb:176:in `method_missing': undefined method `content' for #<Middleman::CoreExtensions::Data::DataStore:0x007fba9c1c2a60> (NoMethodError)`

[2016-04-12 20:39] dlitvakb commented on #56
Hey @philipbenton,

Can we move this conversation to a separate thread?

Please include a copy of your `config.rb` file, with any sensitive data obfuscated, in the new issue.

Cheers

[2016-04-13 07:39] philipbenton opened #84 "Method Missing when calling middleman contentful"
@dlitvakb

Here is the content of my config.rb file, it is fairly standard as I am just learning how to integrate Contentful with Middleman -
[code]

- I have removed the Contentful sensitive info.

As you will see above I have altered the code to include the respond_to? you suggested but this has not solved the problem.

What I am trying to do is leave my data folder out of git so before developm

[2016-04-13 07:42] philipbenton commented on #56
@dlitvakb Just done that. Thanks.

[2016-04-13 11:04] dlitvakb commented on #84
Hey @philipbenton,

I'll be looking into it.

Cheers

[2016-04-15 14:15] dlitvakb commented on #84
Hey @philipbenton,

Sorry I took so long to reply, was sunk on work.

Have you managed to fix this? Or should I still take a look?

[2016-04-15 17:43] philipbenton commented on #84
Hi @dlitvakb,

Please take a look if you could.

[2016-04-15 21:07] dlitvakb commented on #84
Hey @philipbenton,

I tried with this config file, it's using the default `blog` template:

[code]

The output produced by the `bundle exec middleman contentful --rebuild` command is:

[code]

All that I needed to make it work, was in the `/source` directory, create a `/posts` sub directory with a file called `template.html` inside, in which I could use the `Post` as expected.

Please let me know

[2016-04-15 21:21] philipbenton commented on #84
Hi @dlitvakb,

It is still not working for me. I have even tried with your config.rb file replacing mine and I still have the method missing error:

`/Users/philipbenton/.rvm/gems/ruby-2.3.0/gems/middleman-core-4.1.6/lib/middleman-core/core_extensions/data.rb:176:in `method_missing': undefined method `blog' for #<Middleman::CoreExtensions::Data::DataStore:0x007ff32e1019f8> (NoMethodError)`

[2016-04-15 21:34] dlitvakb commented on #84
Ok, found a solution, this was a change introduced in Middleman v4, and I was unaware of it.

To fix, replace the `data.respond_to? :content` line to: `Dir.exist?(config.data_dir)`

Hope this helps

Cheers

[2016-04-16 08:32] philipbenton commented on #84
@dlitvakb Genius! Works perfectly.

Where did you discover the change?

[2016-04-16 14:10] dlitvakb commented on #84
I looked through the middleman codebase 😅

[2016-04-16 14:10] #84 closed

[2016-04-20 21:28] chuise opened #85 "Returning Multiple References"
Pardon my ignorance on this... I'm having a hard time determining how to pull back multiple content types that reference other content types. For example... We have _integration_ that belong to an _integration_category_ (ex. Salesforce belongs to CRM category). It seems that if I use the following _cda_query_ all other content types are ignored:

[code]

For instance, if I have 10 _integration_ co

[2016-04-20 22:22] dlitvakb commented on #85
Hey @chuise,

The second query is good, only thing I would change is `include: 1` to `include: 2`, that would fetch content nested 1 level deeper, which would mean resolving your links.

Try experimenting with increasing the levels of includes until you reach the amount of resolution you need.

Hope this helps

[2016-04-21 13:57] chuise commented on #85
Hey @dlitvakb. Thanks for the response. I've played around with various `include` depths (all the way to 10), but when running this query:

[code]

I still end up with something like:

[code]

It's clearly pulling in some of the `integration_category` data as `category`. The ID is showing up, but I would have expected more data to be present. What I would expect to be returned is:

[code]

[2016-04-22 02:59] timcreatewell commented on #85
Hi @dlitvakb , I've got the same question as @chuise except I'm playing around with the experimental middleman v4 branch...  Keen to hear your thoughts on this one though!

[2016-04-22 10:52] dlitvakb commented on #85
Hey @chuise & @timcreatewell,

In both cases the `include` is supposed to be including the contents of the references.

Make sure that if you are not using the Preview API, all content is published.

You can also debug the query yourself in the console by doing:

[code]

Make sure that returns what you expect, if not, please ping me back again.

Also, please take a look at the examples repository,

[2016-04-22 17:00] chuise commented on #85
Hey @dlitvakb,

Running the code you supplied in the console yields:

[code]

It looks like it's pulling down the `integration_category` and the `integration` and it's linking the `integration_category` as `category`, but it doesn't seem like the full `integration_category` content is pulled down in the `integration` record.

I'm attempting to access the category by:

[code]

Is the issue with wha

[2016-04-22 19:05] chuise commented on #85
In one of the oddest things I've encountered, our `integration` content type included an image content type. In my test entry I left this blank since it was not required. For the sake of continuing testing I added the image and then `middleman contentful`. Everything magically works. I didn't change a single thing, other than add content to a non-required field. Not only did linked content start s

[2016-04-22 19:42] dlitvakb commented on #85
Hehe! 😅 Glad to be of Help! 👍

No idea how that could be related, if you see this behaviour repeating, can you open a support ticket? This might be something API related that we haven't found.

Cheers

[2016-04-22 19:42] #85 closed

[2016-04-22 19:47] chuise commented on #85
**UPDATE**

@dlitvakb you posted your last comment as I was typing this so I apologize.

I ran a little test to see if the image was the culprit and here is what happened.

1. Removed all of my Integration entries
2. Removed the image from `integration` content type and saved
3. Created a new Integration entry and published
4. `middleman contentful`

All linked content disappears from the Integrat

[2016-04-22 20:40] dlitvakb commented on #85
Hey @chuise,

Thanks for the detailed explanation

[2016-07-08 17:36] shoshi commented on #56
Right now, it looks like asset `description`s are not included in v4, but they were present in v3:
https://github.com/contentful/contentful_middleman/blob/dl/upgrade-to-v4/lib/contentful_middleman/mappers/base.rb#L54

Is there a plan for this? Or an alternative way of accessing descriptions? (I wonder if translations caused complications.)

[2016-07-08 18:49] dlitvakb commented on #56
Hey @shoshi looks like something I might have accidentally deleted (or never backported). I will add it shortly.

[2016-07-19 14:12] dlitvakb commented on #56
Hey @shoshi,

This has been backported now

Cheers

[2016-07-19 18:05] shoshi commented on #56
@dlitvakb Just tested this and it's working great! Thanks so much!

[2016-07-20 23:08] mrh-is opened #87 "Put Contentful data into a blog?"
Is there a way to pipe data from Contentful into a `middleman-blog`? I can generate pages wherever, but I can't get the blog to take them. Any `proxy`s end up running after `blog` runs, so they're not available to the blogs.

[2016-07-21 00:30] dlitvakb commented on #87
Hey @mrh-is,

Have you tried https://github.com/contentful/contentful-middleman-pages ??

You could then do something like:

[code]

Hope this helps

Cheers

[2016-07-21 01:15] mrh-is commented on #87
Yeah, that looks great! But it [doesn't look like it supports MM v4](https://github.com/contentful/contentful-middleman-pages/issues/7), and won't for a while. Thoughts on that? I tried to get proxies working, but I wasn't able to get them into the blogs. (This may be veering into a `middleman-blog` issue if that's the route I need to go.)

[2016-07-21 03:52] dlitvakb commented on #87
Hey @mrh-is,

Sorry to tell you that the `pages` repo is not getting an update to v4 currently... next month I'm flying to the office and I can discuss personally about this, as there is starting to be better support for v4 lately and many have been requesting it.

If possible, try to talk with the people maintaining the `blog` extensions and check if they can provide you with a better solution th

[2016-08-03 21:44] mrh-is commented on #87
We fixed this! We redirected `contentful_middleman` to put the YAML files into `source/data`, which makes those resources available to `middleman-blog`. We also patched the file writer to output files that look like blog entries, i.e., front matter in a YAML block followed by Markdown content.

[2016-08-03 21:44] #87 closed

[2016-08-03 21:55] dlitvakb commented on #87
Hey @mrh-is,

Glad to hear that you solved this!

I'm in Berlin now and for 2 more weeks, so if you have any feature ideas, it's the best time to bring them up!

Cheers

[2016-08-03 23:00] mrh-is commented on #87
Our patches, which could probably be made options (and I could probably just PR):

[code]

We also had to patch `all_entries` because getting 1000 entries at a time was too big (>7MB):

[code]

Any to all of these might be the wrong way to do these. ¯\_(ツ)_/¯

[2016-08-06 20:35] samueladesoga opened #88 "yaml files generated in data folder does not pick up the associated assets"
I have created some content in contentful and these is an image attached to each of these entries.

How ever on running contentful middleman, the data generated doesnt pick up the assets as well.

Could you please suggest how this can be fixed?

[2016-08-06 20:55] dlitvakb commented on #88
Hey @samueladesoga,

This is an issue we're currently working actively on.

Should be soon fixed when we apply next round of patches early next week (between Monday and Tuesday).

Cheers

[2016-08-06 21:52] samueladesoga commented on #88
I actually republished the whole content and when i did a "middleman contentful, the yaml file has now been correctly updated. I was assuming that when the assets were published. I wouldnt need to republish the content to which the asset was attached

[2016-08-08 14:53] dlitvakb commented on #88
Hey @samueladesoga,

That's great news!

Anyway, we found the culprit of the bug and it's now being reviewed and soon to be merged and deployed.

This will be done between today and tomorrow morning.

Cheers!

PS: Closing this issue.

[2016-08-08 14:53] #88 closed

[2016-08-17 11:57] dlitvakb commented on #87
Hey @mrh-is,

Looks like we could probably add a configurable data path, and also a configurable amount of entries per page when using all entries, regarding the YAML processing, I don't understand what you did.

I'll add this to our backlog

Cheers

[2016-08-17 11:59] dlitvakb opened #89 "Add option to configure output path"
Currently the extension only outputs to `data`, while some extensions like `middleman-blog` like their data in a different folder, we could add an optional configuration option to allow serialising data to a different folder.

[2016-08-17 12:02] dlitvakb opened #90 "Add option to configure page size when fetching all entries"
When using `:all_entries` page size is forced to 1000, while this makes fetching everything use less CDA calls, it may be increasing the size of each call to huge amounts, a user reported having a call that returned over 70MB of response.

Therefore we need to add a way of customising the size of each page, while we continue fetching everything, making this use more calls but on smaller and more m

[2016-08-17 14:35] mrh-is commented on #87
Awesome, hopefully those help someone else!

The YAML changes basically just move you from:
[code]

to
[code]

That way we didn't have to rewrite our existing blog templates to work with Contentful. We also changed them to `.html.md` files instead of `.yaml` files, again so the normal `middleman-blog` processing would work.

[2016-08-17 15:29] dlitvakb commented on #87
Ahh that makes sense!

I'll look into adding custom transformers as well, though I don't think we'll dive into that huge rabbit hole, but maybe adding them as a custom extension like we currently do with mappers might work

Cheers

[2016-08-23 19:48] hubertron commented on #56
curious when full v4 support will be rolled out. Don't want to put an experimental branch into prod.

[2016-08-23 22:44] dlitvakb commented on #56
@hubertron It is not experimental anymore, though a full release is not yet planned as we still need to figure out a way to keep both versions and maintain them simultaneously.

Currently development is running for both in parallel, with full releases only for the v3 version, but this one is completely stable.

[2016-09-08 17:28] chuise opened #93 "Feature: Include created_at and updated_at in data files."
It would be nice to have the created_at and updated_at dates available for each record that gets created. Most of our records need to be sorted in some way, usually by date, and it's kind of a pain to have to keep creating additional fields on each content type for the publish date.

[2016-09-08 19:09] dlitvakb commented on #93
Hey @chuise,

Have you read about Custom Mappers?

You can include those fields by creating one like follows:

[code]

Then when activating the Contentful extension, add it in your content type declaration as follows:

[code]

You can reuse this same mapper for every content type, as it is already covering what the default one does and `sys` attributes are generic for all entries.

Hope that helps

[2016-09-13 20:36] mrh-is opened #94 "Only one instance actually creates files"
I have several instances of the `contentful` extension activated in my `config.rb`, which [is allowed](https://github.com/contentful/contentful_middleman/blob/dl/upgrade-to-v4/lib/contentful_middleman/core.rb#L17), and doesn't throw an error. It seems to run ok, and prints the right amount of `create <filename>` lines in the console, but only the last instance actually creates any files.

More det

[2016-09-13 21:27] mrh-is commented on #94
This seems to have been due to my use of the same space name for all the instances. It looks like the last instance overwrites all the previous ones.

To maintain the same ancestor-sharing, I patched `VersionHash` to accept space names with slashes:
[code]

[2016-09-13 21:48] dlitvakb commented on #94
Hey @mrh-is,

Yes, each activation requires a unique name, the serializer deletes all the contents of the folder it's serializing to on each write, therefore, two colliding spaces would overwrite each other, it's not that it's not writing on the 2nd activation, it's that the first activation gets deleted.

As for space names with slashes, space names should almost always be symbols, therefore shou

[2016-09-13 21:48] #94 closed

[2016-09-16 19:47] chuise commented on #93
Hey @dlitvakb never thought of using custom mappers for this. Going to try that right now!

Thanks!

[2016-09-20 12:50] #90 closed

[2016-09-22 02:40] frankmarineau opened #95 "Entities and assets don't get linked when using multiple locales"
If I add `locales: '*'` to the CDA query, assets and links will only show the `sys` key and won't be populated with the actual linked resource. In the following example, I'm using two locales (en-us and fr-CA) and two content types: a *Section* that contains multiple *Topic*s

Here's the generated yml I get for a *Section* if I don't specify multiple locales in the CDA query (`f.cda_query = {}`):

[2016-09-22 10:03] dlitvakb commented on #95
Hey @frankmarineau,

Looks like there is an issue with link resolution for localized content.

I will look into it next week (I'm on vacation until Monday).

In the meantime, you can solve the links locally by filtering in the views.

Cheers

[2016-09-22 10:04] frankmarineau commented on #95
Thanks a lot @dlitvakb!

[2016-09-28 19:06] juliankrispel opened #96 "Paginating requests"
As far as I understand if the entry limit hits there is no warning, and the gem doesn't continue to download.

Is there a workaround? What if a user has more than 1000 entries they need to download???

[2016-09-28 20:23] dlitvakb commented on #96
Hey @juliankrispel,

You can use the `:all_entries` option to fetch over 1000 entries. You can find more information here: https://github.com/contentful/contentful_middleman#configuration

Hope that helps

Cheers

[2016-09-28 20:23] #96 closed

[2016-09-28 20:24] dlitvakb commented on #93
No problem!

Did it work?

Cheers

[2016-09-28 21:10] juliankrispel commented on #96
Hey Bruno. My question was, what if you there are more than 1000 entries???

Julian Krispel-Samsel
rainforestqa.com
goodafternoon.co

[2016-09-28 21:29] dlitvakb commented on #96
Hey @juliankrispel, using `:all_entries` fetches over 1000 entries, as many as you have.

Cheers

[2016-09-28 21:33] juliankrispel commented on #96
Oh cool, sry, thanks

Julian Krispel-Samsel
rainforestqa.com
goodafternoon.co

[2016-09-28 22:02] dlitvakb commented on #96
No problem

Cheers

[2016-09-29 12:55] martzoukos commented on #95
Hey there,

I'm also currently facing this issue and try to filter the entries in the views but I'm having some trouble with fetching linked assets.

I have a content_type named `block_images` and a typical response includes something like that:
[code]
How can I access the information of these linked Assets? I tried maybe fetching them locally by passing the following:

[code]
but that doesn't wor

[2016-09-29 14:21] dlitvakb commented on #95
Hey @martzoukos,

Sadly Assets are not regular entries, so they use a different API endpoint.

I will try to get this solved between today and tomorrow, and release a new version with the fix early next week.

Hope that helps

[2016-09-29 14:22] martzoukos commented on #95
Thank you very much @dlitvakb !

[2016-10-04 15:30] martzoukos commented on #95
Fantastic. Thank you again David!

[2016-10-04 15:33] dlitvakb commented on #95
@martzoukos no problem! new version `1.4.1` has been released as well

Cheers

[2016-10-04 16:41] martzoukos commented on #95
Hey David,

I'm still getting the same
[code]

response.
I changed the version of `middleman-contentful` in my gemfile to `1.4.1` and ran `bundle update`. Is there anything else I need to do?

[2016-10-04 16:53] dlitvakb commented on #95
Hey @martzoukos, are you using `contentful 1.0.1`? This fix depends on the update of the `contentful` gem

[2016-10-04 16:54] martzoukos commented on #95
@dlitvakb I see that I'm using `1.0.1` in my Gemfile.lock.

[2016-10-04 16:55] dlitvakb commented on #95
You can check by running `bundle exec ruby -e "require 'contentful'; puts Contentful::VERSION"`

[2016-10-04 16:55] martzoukos commented on #95
Thanks, it outputs `1.0.1` so I'm using the latest version.

[2016-10-04 16:57] dlitvakb commented on #95
@martzoukos could you try again running like `bundle exec middleman contentful` making sure that the versions are 1.4.1 and 1.0.1 for `contentful_middleman` and `contentful` respectively.

If the issue still persists, please open a Support ticket and share the details there? I'll be able to look in detail in your case, maybe I missed something on the fix.

Cheers

[2016-10-04 16:59] martzoukos commented on #95
Tried running `bundle exec middleman contentful` and the issue still persists. By Support ticket you mean in contentful.com or an issue in this repo?

[2016-10-04 16:59] dlitvakb commented on #95
In app.contentful.com, please request to be assigned to me.

[2016-10-04 17:00] martzoukos commented on #95
Will do. Thanks!

[2016-10-04 21:17] frankmarineau commented on #95
@dlitvakb I'm getting a slightly different problem here. Linked assets do now work, but not linked entries.

[2016-10-04 22:52] dlitvakb commented on #95
@frankmarineau Looking into it early tomorrow.

[2016-10-05 11:23] dlitvakb commented on #95
@frankmarineau new version of the `contentful` gem has been released addressing this issue.

Could you update and let me know if it works now?

[2016-10-05 14:22] dlitvakb commented on #95
Issue is still persistent on assets that are localized (entries now work fine).

Fix was found and currently adding specs around the feature.

New version will be published within the next few hours or early tomorrow.

cc @frankmarineau @martzoukos

[2016-10-06 13:48] #95 closed

[2016-10-06 13:52] dlitvakb commented on #95
Hey @frankmarineau @martzoukos,

Version `1.4.2` of `contentful_middleman` was just released fixing this issue.

Please let me know if everything works for you now.

Cheers

[2016-10-06 14:27] martzoukos commented on #95
Yes, it works!

Thank you!

[2016-10-21 12:00] martzoukos opened #99 "Subsequent references fetching only ID"
Hello,

I'm not sure if this is a bug or a feature to reduce the size of the fetched data, but when I link to a reference from two separate fields, the information of the referenced item gets included only the first time.

Any subsequent link after that only fetches the ID.

Here's an example:

[code]

The id `3XMaskNA128k0WaogisyG0` is referenced in both the `available_languages` and `available_t

[2016-11-17 18:17] macandcheese commented on #56
Is it possible to host the v4 branch on RubyGems?

[2016-11-17 20:05] dlitvakb commented on #56
Hey @macandcheese,

I'd need to check out how to have multiple incompatible versions released simultaneously, but I guess I could release it as a separate gem, something like `contentful_middleman_v4` without much problems, and keep it like that until the majority of the community moves to v4.

[2016-11-17 20:10] macandcheese commented on #56
@dlitvakb - appreciate the quick response. Thank you!

[2016-12-01 16:46] martzoukos commented on #99
Hey David, do you have any news on that?

[2016-12-01 16:53] dlitvakb commented on #99
Hi @martzoukos,

Looks like a bug, I'll take a look into it.

Cheers

[2016-12-02 18:18] rr1000 opened #100 "Randomly Missing Content"
Hello. I'm building a new (fairly large) site with Contenful and Middleman. I currently have 13 content types:

[code]

I'm using my preview API. At times when I pull in content using `bundle exec middleman contentful` only a select few directories are pulled in. This results in my proxy blocks not working. To fix this issue I added simple checks. Ex:

[code]

There are certain directories (such a

[2016-12-02 18:43] rr1000 commented on #100
I also created a new middleman project with middleman `3.4.1` to confirm that the issue wasn't specific to `v4`. I'm seeing the same lack of content on `3.4.1` and the production `contentful_middleman` gem that I did on `dl/upgrade-to-v4` with `4.1.13`.

[2016-12-02 19:35] dlitvakb commented on #100
Hey @rr1000,

Could you paste your `activate` block? (please remove credentials)

Also, what's the amount of entries you have in your space? If you have over 100, the issue is most likely that you're not pulling all of your entries. There are 2 ways to solve this issue, if you have less than 1000 entries, you can add `limit: 1000` to your `cda_query`. If you have over 1000 entries, set `f.all_entr

[2016-12-02 20:22] rr1000 commented on #100
@dlitvakb That worked prefect! Thank you so much. Cheers!

[2016-12-02 20:22] #100 closed

[2016-12-02 20:37] allanwhite commented on #100
Really appreciate the quick response @dlitvakb, it's great tech. Best wishes!

[2016-12-02 20:41] dlitvakb commented on #100
No problem! Cheers

[2016-12-08 18:58] claudiovallejo opened #101 "Netlify Build Errors for `middleman-core` and `thor`"
Hello,

I finished integrating a Middleman Project with Contentful and have been able to build the site locally. The problem I'm running into, though, is when building the site with Netlify. Netlify's build log prints the following:

[code]

I'm currently running Ruby 2.3.0p0 and Middleman 3.4.1 and you can find the project's repo [here]((https://github.com/tymforest/sitio)).

Any tips/help would

[2016-12-12 12:31] dlitvakb commented on #101
Hey @claudiovallejo,

Looks like you're doing somewhere in your code `data.site. ...` and the `site` key is not being recognized.

This can happen due to 2 different things:

1) Your data has not been pulled yet (either by running `middleman contentful` or other script that generates data)
2) You don't have any subfolder within your data folder called site (probably because the space alias in the

[2016-12-12 13:37] dlitvakb commented on #99
Hey @martzoukos,

Now I'm in the office and have time to look into this, I'll start taking a look now, and let you know.

Cheers

[2016-12-12 17:04] claudiovallejo commented on #101
Hi @dlitvakb, thank you for your help. Your suggestions helped me realize I was missing several steps to correctly integrate my Middleman project with Contentful.

Just for reference, the steps I was missing were the following:
- Missing `bundle exec middleman contentful && bundle exec middleman build` in Netlify Build Command to pull the latest content changes prior to building Middleman project.

[2016-12-12 17:04] #101 closed

[2016-12-13 10:31] dlitvakb commented on #99
Hey @martzoukos,

Managed to reproduce, now checking root cause.

Cheers

[2016-12-13 10:44] dlitvakb commented on #99
Got a fix working, adding tests around it and creating a PR.

Cheers

[2016-12-13 13:51] #99 closed

[2016-12-15 10:26] martzoukos opened #103 "Linked entries/assets not resolved on preview mode"
**Edit 16.12.2016:** Apologies for the initial confusing title, I had a mixed up impression of what dynamic_entries do, the issue is the same but it has to do with linked entries/assets not being resolved, so please ignore what mention to dynamic_entries I make.

---

Hello there,

I'm using the `with_preview` method to preview a specific page that has linked assets and entries in some of its fiel

[2016-12-16 14:51] martzoukos commented on #99
Apologies for my ignorance here, but how can I update my gem to get this fix?

I'm getting the 1.4.2 version but this error still persists.

Thanks!

[2016-12-16 16:51] dlitvakb commented on #99
Hey @martzoukos,

Can you create a support request?

Please provide me in it, Space ID, Access Token, your `activate :contentful` block and the result of `bundle exec gem list`.

Maybe I missed a case in which issue appears.

Cheers

[2016-12-16 16:57] martzoukos commented on #99
Just did.

Thank you very much!

[2016-12-19 14:35] dlitvakb commented on #103
Hey @martzoukos,

Let me take a look into this, haven't experienced this issue before.

Cheers

[2016-12-19 15:18] dlitvakb commented on #103
Hey @martzoukos,

Found the issue, you're using `client.entry` which uses the `/entries/entry_id` endpoint which doesn't resolve includes. Instead, you should be using `/entries?sys.id=entry_id` and fetching the first element of the collection. Difference is that the `#entries` endpoint does have includes resolution.

Hope that helps.

Cheers

[2016-12-19 15:46] martzoukos commented on #103
Thanks David,

so I need to do something like that?

[code]

[2016-12-19 15:53] dlitvakb commented on #103
[code]

[2016-12-19 16:02] martzoukos commented on #103
Ah, apologies. I should have looked [here](https://github.com/contentful/contentful_middleman/blob/8ca5fa80f9c5182c3d9e9e45eaa45780d28a2a32/lib/contentful_middleman/tools/preview_proxy.rb#L65) first.

The object I'm fetching in this way, though, has a different schema than the content that's saved in my .yml files.
For example, if a content item has an `image` field, this is saved in the data fold

[2016-12-20 00:21] mrh-is opened #106 "Remove unpublished entries?"
This extension does not remove entries that have been archived or deleted. That would be pretty useful.

Though from what I know of how this works, I'm not sure it would be possible to write this in a "smart"/efficient way. There's no way to get deleted entries AFAIK, and even archived entries would require another API call. I suppose you could somehow start with a list of all the files in the out

[2016-12-20 09:06] dlitvakb commented on #106
Hey @mrh-is,

Sadly the answer is "do it all manually".

Reason behind it, is that the tool cannot differentiate between unpublished entries and entries that are published but not reached by `includes`, therefore there's no way to know exactly which is which and remove it from the response.

The API keeps the references even if they are unpublished/archived for consistency reasons (else every obje

[2016-12-20 09:11] dlitvakb commented on #103
Hey @martzoukos,

You can do `main_image.image_url` I know it's a bit different from the middleman API, I will add a patch release adding an alias for `image_url` to be `url` so this is no longer an issue.

Cheers

[2016-12-20 09:56] dlitvakb commented on #103
Release `v1.2.0` of `contentful.rb` has been done, this will allow you to use `main_image.url`.

Cheers

[2017-01-11 01:41] mrh-is opened #108 "Linked entries/assets are output only once per entry"
If an entry is linked twice from the same parent entry, it will only be fully resolved the first time.

### Example

Consider the following hypothetical content models:

[code]

(This may be an unusual data model, but it's valid and should work as expected.)

When run through this gem, they will produce approximately the following for a given `Person`:

[code]

Notice that the second time the `Toy

[2017-01-11 02:40] dlitvakb commented on #108
Hey @mrh-is,

This has been fixed as part of release [1.5.0](https://github.com/contentful/contentful_middleman/blob/master/CHANGELOG.md#fixed).

Please update to that version and let me know if your issue is solved.

Cheers

[2017-01-11 03:00] mrh-is commented on #108
I guess I will once #107 is merged. :)

[2017-01-11 19:09] mrh-is commented on #108
This is a duplicate of #99, my bad. Slightly different language & branches combined to confuse me. Thanks for the help @dlitvakb!

[2017-01-11 19:09] #108 closed

[2017-01-16 23:06] davedub opened #109 "Access token inserted in config.rb not accepted on CLI"
When I add the following to config.rb

`activate :contentful do |f|
  f.access_token = ‘b2f15943a90bf117ce0512345678912385fd720002f4af755638a547b1388842’
  f.space = { site: '4atd2otfb1gi'}
  f.content_types = { article: 'articles' }
end
`

[this "access_token" is a dummy from the Content_Delivery_API key in my space]

I get an error when I run -

$ bundle exec middleman contentful

- that shows t

[2017-01-16 23:39] davedub commented on #109
Never mind. For some crazy reason, the parameter was ill-formed by bad apostrophes around it. User error for sure!

[2017-01-16 23:39] #109 closed

[2017-01-20 02:54] davedub commented on #56
Any chance you could go ahead with hosting a v4 branch on RubyGems? I can't seem to download and install the experimental branch locally for a Middleman 4 site without getting an error.

`gem install --local '/path/to/gemfile/contentful_middleman_v4-1.5.0`

[2017-01-20 11:23] dlitvakb commented on #56
@davedub I'll look into how to do this without breaking versioning

Cheers

[2017-01-25 21:39] shoshi commented on #56
For anybody waiting on hosting the v4 branch on RubyGems, (if your use case allows) you can add this to your `Gemfile` in the meantime:

`gem 'contentful_middleman', :git => 'https://github.com/contentful/contentful_middleman.git', :branch => 'dl/upgrade-to-v4'`

[2017-02-22 15:55] joshRpowell opened #111 "space-hash causing build to fail"
using the [experimental branch](https://github.com/contentful/contentful_middleman/tree/dl/upgrade-to-v4)

running `middleman contentful --rebuild` with `.[app]-site-hash` present in root i get the following error:
![with site-hash](https://cloud.githubusercontent.com/assets/6732638/23219164/56bd10e0-f8ec-11e6-9c9e-6185cdca3b68.png)

deleting the `.[app]-site-hash` from root allows the build to ru

[2017-02-27 14:10] dlitvakb commented on #111
Hey @joshRpowell,

As promised, a `DEPLOYING` file has been added to document platform specific issues.

It's currently being reviewed and will be merged ASAP.

https://github.com/contentful/contentful_middleman/pull/112

Cheers

[2017-03-09 06:12] knupska opened #113 "Infinite loops via base mapper"
The change made to `lib/contentful_middleman/mappers/base.rb` in 031fd8bf30649e98dd083bdf3a962a30555ba8d5 has introduced the possibility of infinite loops.

With the behaviour prior to the change, when an item that was previously `:discovered` was going to be mapped, it would only output the `id` of the item.

The change seems to have been implemented to ensure that subsequent references also outp

[2017-03-19 08:39] j0b0sapi3n commented on #93
How does one do this but for every nested piece of Content as well in the YAML file? Assuming your example, let's say the YAML file generated based on `my_content_type` has a few nested levels with references to other types of Content and we also want to include `updatedAt` for those as well, not just `my_content_type`?

[2017-03-20 15:24] andrezimpel opened #114 "Missing locale for assets"
My contentful space currently got two languages, english and german. I am defining locale: '*' in my cda query and I get all available fields for the entries. I only get de default language for assets tho. Is there any trick or am I something missing to get both locals for assets too?

[code]

[code]

[2017-03-21 19:53] dlitvakb commented on #93
Hey @j0b0sapi3n,

After giving it some thought, I will add some of the `sys` properties to entry serialization.

I'll add an `__meta` section to each entry (and all it's nested entries) that includes `updatedAt` and `createdAt`. I'll look into adding more properties.

The naming of the section as `__meta` is in order to avoid any kind of collision with any existing mapper. This might change if a 2

[2017-03-22 03:43] j0b0sapi3n commented on #93
@dlitvakb Awesome, thank you!

[2017-03-22 12:26] j0b0sapi3n opened #115 "Using a different field besides `id` for the outputted YAML filenames"
Is it possible for the YAML files to use a different field from the `content-type` besides `id` for the filenames? For example, instead of a randomly generated `1zRi7GqdPiwcEgK4sE60YU.yaml` filename based on the ID within Contentful, it could use a `name` field (that's been set to be unique) so it becomes something more normal like `page1.yaml`.

[2017-03-24 09:08] j0b0sapi3n opened #116 "Using `type` as the Field ID will result in no data being outputted for that Content Type when building the YAML files"
I ran into this odd error while trying to figure out why a specific Content Type wasn't being returned anymore when running `middleman contentful`. The Content Type has 10 fields, and only the ID was being returned now. Very strange. I disabled each field one by one until I discovered that if it was a Short Text field that was causing this. More specifically, it was because I named the field ID `t

[2017-03-24 16:57] allanwhite opened #117 "How can we output the content type in entries? [Question]"
We use `middleman_contentful` in our middleman app to pull down data from Contentful, and render it as Yaml. Works great. However, as we're trying to implement related entries across content types (aka sections or categories; so a blog entry referencing a podcast entry), it seems the `sys.id` property or `linkContentType` (in linked entries) isn't rendered in the yaml. We have no way of mapping th

[2017-03-27 14:06] dlitvakb commented on #116
This happens due to an issue when there are conflicting names between the `sys` properties and the `fields`. This will be fixed with the update to the `2.0.0` `contentful.rb` SDK, I'll have this done within the next few days. For the moment, you can change your field ID.

Cheers

[2017-03-27 14:07] dlitvakb commented on #115
I'll add an option in a future release to be able to specify this, but no promises regarding an ETA.

Cheers

[2017-03-27 14:12] dlitvakb commented on #113
Hey @knupska,

Could you recreate this issue within a space and share it, so I can investigate the issue further? As I haven't faced this issue myself yet.

Cheers

[2017-03-29 12:08] dlitvakb commented on #117
Hey @allanwhite,

To do this you have to include a Custom Mapper.

It works by creating a class and redefining it's `#map` method.

[code]
Then assign it in your `activate` block, you can read more here: https://github.com/contentful/contentful_middleman#custom-mappers

Cheers

[2017-03-29 12:09] dlitvakb commented on #117
As an additional note, I'll be adding a `_meta` block for every entry including Content Type, and Created and Updated At dates to the next release, I'll be working on it next week.

Cheers

[2017-04-03 15:07] kisin commented on #56
any news about supporting middleman v4?

[2017-04-03 15:57] dlitvakb commented on #56
Hey @kisin,

As mentioned in comments above, the branch is completely stable and works perfectly with v4 and you can use it currently by pointing your Gemfile to the `dl/upgrade-to-v4` branch of this repository.

There is currently a still ongoing research on how to publish both versions (v3 and v4 compatible) without coming into conflicting gems/versions.

Cheers

[2017-04-04 12:39] kisin commented on #56
its not working for me...
i'm using ruby-2.2.2, middleman 4.2.1 and branch dl/upgrade-to-v4.

if i'm using configuration like this its only create a space-hash file:
[code]

and if i'm using configuration with content type and query then its just stuck:

[code]

[2017-04-04 16:28] dlitvakb commented on #114
Hey @andrezimpel,

Which version of the gem are you using?

Cheers

[2017-04-04 16:28] dlitvakb commented on #111
This has been merged.

Cheers

[2017-04-04 16:28] #111 closed

[2017-04-04 16:30] dlitvakb commented on #93
This is currently being worked on and a release will be done early tomorrow.

Cheers

[2017-04-04 16:30] andrezimpel commented on #114
hi @dlitvakb

I'm running `contentful_middleman (1.5.0)`

Thanks!

[2017-04-04 16:50] dlitvakb commented on #114
If your image also defined for the `en` locale?

[2017-04-04 16:52] andrezimpel commented on #114
Yea, I got en and de. There aren't no empty fields also. For entries everything works perfect tho!

[2017-04-04 16:57] dlitvakb commented on #114
Can you open a support request and send your access token and space id? I'd need to look into your specific issue.

Cheers

[2017-04-04 16:58] andrezimpel commented on #114
Yea, shall I drop you any info so you can find it easily?

[2017-04-04 17:18] dlitvakb commented on #114
Just ask for me and provide your complete `activate :contentful` block, and support will assign the ticket to me.

Cheers

[2017-04-06 20:38] dlitvakb commented on #114
Closing this issue as it's been takled through support channels.

Cheers

[2017-04-06 20:38] #114 closed

[2017-04-07 14:56] #93 closed

[2017-04-07 14:56] #103 closed

[2017-04-07 14:56] #113 closed

[2017-04-07 14:56] #116 closed

[2017-04-07 14:56] #117 closed

[2017-04-07 15:06] dlitvakb commented on #56
Hello everyone following this thread,

As of today there are breaking changes introduced into the `master` branch due to the update to the 2.0.0 CDA SDK. This also includes some new niceties that will make your `contentful_middleman` installation nicer (like removing the need of custom mappers for sys attributes and other bug fixes).

That said, I'd like to hear some opinions regarding what to do

[2017-04-07 15:07] dlitvakb commented on #56
Break Compatibility and keep development aligned

[2017-04-07 15:08] dlitvakb commented on #56
Create new `v4` branch and current `v4` branch stays as the `1.x` compatible.

[2017-04-07 15:34] javaporter commented on #56
Thanks for the continued hard work on this gem. I use the v4 version 100% of the time now and it's a crucial part of my workflow. Glad to see it's still in active development.

[2017-04-07 15:58] conraddecker commented on #117
@allanwhite I was running into the same issue. [https://github.com/contentful/contentful_middleman/issues/118] does fix this but only for the master branch, it doesn't work for the v4 branch. If it helps, happy to show you what I did for v4. Seems to do the trick for me but I haven't done more than smoke test it so haven't created a PR for it. Sounds like there's some discussion here [https://gith

[2017-04-11 19:54] cearls opened #119 "Additional entry properties for nested data"
I've created a custom mapper and I need to include additional entry properties for nested data. Is there a better way to do this than what I've done for content type id?

[code]

[2017-04-11 22:43] allanwhite commented on #117
@conraddecker Conrad, I would love to hear about your experience implementing it on MM v4. I read the discussion on the way forward, certainly I'd rather break things and stay current.

[2017-04-11 22:48] allanwhite commented on #56
Appreciate the hard work, it's really useful. I tend to be more willing to break things to maintain compatibility with an important service like Contentful; it tends to mean greater stability in the future, and more rapid adoption of new features.

[2017-04-13 02:12] macandcheese opened #120 "Using Contentful Preview API with Middleman"
Perhaps this is more of a question than an issue - I'm struggling to find a way to allow editors to preview draft or unpublished content through the editor interface in a hosted app.

Obviously with Middleman you need to build the project to populate data in the templates, so I'm at a bit of a loss as far as how to set up the preview. Even using the "with_preview" helper in docs, that's simply for

[2017-04-14 14:35] dlitvakb commented on #56
Ok, after giving it some time to collect feedback. What I'm going to do is create a `v4-1.x-stable` branch with the CURRENT (as of 2017-04-14) state of the branch. That branch will no longer receive any updates unless there's a security flaw found (which I hardly find possible).

This current branch will be updated to receive the newest updates from `master` and will keep parity moving forwards.

[2017-04-14 16:30] conraddecker commented on #117
@allanwhite Sure thing :) It was pretty straight forward but as I mentioned I haven't done much more than smoke test it. It seems to be working for me for now but also sounds like the main v4 branch is going to be keeping parity with master moving forward.

In the meantime, I followed @dlitvakb 's lead on master, forked the repo, made a minor update and am targeting my specific repo in my project'

[2017-04-14 17:52] dlitvakb commented on #117
Hey @conraddecker, @allanwhite,

The decision has been made and the update will occur this Tuesday, a branch without the update will be created from the current `v4` branch, to keep it as `1.x` stable, and following that the updates that are on `master` will be applied to the current `v4` branch, keeping it in parity with the current `master`. You can follow up on the discussion here: https://gith

[2017-04-18 14:02] dlitvakb commented on #119
Hey @cearls,

This is now added already in `master` and will be released shortly.

If using Middleman v4, the update to upstream `master` will be done in the `dl/upgrade-to-v4` branch within the next few hours.

Cheers

[2017-04-18 14:02] #119 closed

[2017-04-18 14:11] dlitvakb commented on #56
`v4-1.x-stable` branch successfully created.

Starting work on merging upstream `master` with `dl/upgrade-to-v4`.

[2017-04-18 21:56] cearls commented on #119
@dlitvakb Thanks!

[2017-04-19 09:28] fkamras commented on #56
I worked on the the dl/upgrade-to-v4 branch but now the middleman contentful command is stuck. I switched to the new v4-1.x-stable and the linked entries are not resolved anymore.
How can I make this work?

[2017-04-19 13:58] dlitvakb commented on #56
`dl/upgrade-to-v4` has been merged with upstream `master` 🎉

Happy hacking everybody!

[2017-04-19 14:00] dlitvakb commented on #120
Hey @macandcheese,

You can set the `use_preview_api` configuration flag to `true`, that will use the Preview API instead of the Delivery API for generating your serialized files, then you can deploy it as a regular site. Just keep it in a safe place so no unpublished content leaks to the public.

Cheers

[2017-04-21 23:10] kaishiro commented on #56
So, this change ended up breaking a bunch of our builds.  The issue we're having is that the a few of the builds are dependent on the `all_entries_page_size` option, and this option no longer seems present in the "new" `v4-1.x-stable`.  As far as I can tell this leaves people who were on the old `dl/upgrade-to-v4` branch but dependent on that option somewhat stranded unless I'm missing something.

[2017-04-22 00:21] dlitvakb commented on #56
Hey @kaishiro,

Looks like you're correct, there are 3 missing commits.

I'll add them now, I'm really sorry for that, will update ASAP.

Cheers

[2017-04-22 01:20] kaishiro commented on #56
@dlitvakb No problem - just figured I'd drop it here in case anyone else was running into similar issues.  We were able to temporarily resolve it by self-hosting the old gem (https://github.com/kaishiro/legacy-contentful-middleman), but once this is updated we can get back on the main trunk.

Appreciate all the hard work.

[2017-04-22 01:21] kaishiro commented on #56
@dlitvakb Just saw you're update.  Thanks for the quick fix!

[2017-04-22 02:13] dlitvakb commented on #56
No problem! Sorry for the inconvenience

[2017-05-01 19:46] macandcheese commented on #120
Hi @dlitvakb - thanks for the response. Perhaps this is more feedback for Contentful UI vs. Middleman gem. Here's the setup:

I'll have a staging environment (stating.site.com - basically a mirror codebase of my live site), where I'll deploy anything changed to draft status in the editor UI, via webhook. However, the build and deployment of that draft will take around 5 minutes from clicking "draf

[2017-05-02 01:24] dlitvakb commented on #120
Hey @macandcheese,

In the WebApp, go to your desired Space, then click on `Settings` -> `Content preview`.
There you can customize the behavior of the `Preview` button to point to your staging site.

Hope that helps,

Cheers

[2017-05-17 08:52] crtvhd commented on #111
@dlitvakb I don't really see how #112 was related to this issue. I'm having the same issue: Apparently `external_pipeline` gets triggered when running `bundle exec middleman contentful`.

[2017-05-17 12:23] dlitvakb commented on #111
Hey @crtvhd,

You should add the `.*-site-hash` to your `.gitignore`.

The idea of the `DEPLOYING` file, is to give users a chance to share deployment platform specific solutions, e.g. "When deploying on Netlify, do such and such to avoid seeing X". It "solves", this issue because this was a platform specific problem that @joshRpowell got to fix, and that's why this document was provided.

The doc

[2017-05-18 15:32] fkamras commented on #17
I see this is an old issue, but I got the same error on the dl/upgrade-to-v4 branch.
I tried switching to v4-1.x-stable but same issue.
It happens on a text field with a dropdown.

[2017-05-18 16:09] dlitvakb commented on #17
Hey @fkamras,

Can you open a ticket in our support system, and ask for me?

Please include in the ticket the `activate :contentful` block as you have it in your setup (including Space ID and Access Token).

Cheers

[2017-05-22 17:35] javaporter commented on #84
Hello @dlitvakb, this used to work, but no longer seems to be. To use the example above, let's say I have no content entries for purplePenguins yet, but I will at some point, and I have this in my config file:

[code]

In this case, executing `middleman contentful` just throws errors. Additionally, even if I have content for purplePenguins and I execute `middleman contentful`, this will throw erro

[2017-05-22 19:11] dlitvakb commented on #84
Hey @javaporter,

You'll have to do a `Dir.exist?` for every subfolder in the `config.data_dir`.

You can do something similar to the following:

[code]

I'm not aware if there's any other way currently to achieve this in v4.

Hope this helps,

Cheers

[2017-05-23 12:14] fkamras opened #124 "localize_entry fails"
I noticed some new fields in the synced data that contains the content type id and created and updated dates.
It seems like the localize_entry function is failing becuase of this, as it's trying to get the en-US field that does not exist there.
Seems like this is the problem as it's working once I remove the meta key before the localize_entry function but it would be better if I don't have to go t

[2017-05-23 17:42] javaporter commented on #84
@dlitvakb Works like a charm man, thanks for getting back to me so quickly and with such detailed instructions.

[2017-05-24 09:08] fkamras commented on #124
I'm not sure if it's the same issue, but since yesterday all the data that I accessed with camel case is now only available with underscores....

[2017-05-24 12:12] dlitvakb commented on #124
Hey @fkamras,

Regarding the first issue, I'll look into it ASAP, it looks like a bug.

Regarding the second issue, it's a documented change with version `2.0.0` -> https://github.com/contentful/contentful_middleman/blob/master/CHANGELOG.md#changed

Cheers

[2017-06-06 17:53] joshRpowell commented on #111
@crtvhd I have a PR open for Netlify the `DEPLOYING` file.

when I need to update Contentful data I have to remove the `site-hash`
[code]
then run
[code]

[2017-06-09 09:00] fkamras opened #126 "Localised Assets"
Is there a way I get the localised title and description of the asset when pulling data from contentful?

Thanks!

[2017-06-12 11:45] dlitvakb commented on #126
Hey @fkamras,

If you're using either `locale: 'some-specific-locale'` or `locale: '*'` as part of your `cda_query`, then locales should be automatically handled.

Cheers

[2017-06-12 11:50] fkamras commented on #126
Hey @dlitvakb
I'm using this in my config file

`f.cda_query     = { limit: 1000, include: 2, locale: '*' }`

But the returned data only contains the english title and description even though different descriptions and titles are added for 3 more locales.

[2017-06-12 11:55] dlitvakb commented on #126
Do you have your asset localized as well? Or are you using diferent references for each locale?

[2017-06-12 11:57] fkamras commented on #126
The asset is localised (by default I guess). The field that references the asset is not.

[2017-06-12 12:00] dlitvakb commented on #126
Thanks the issue then, either have the field + asset localized, as in the gem locales are "pass-through" so if you're using a specific locale for a field, it will try to fetch the same locale in the referenced asset. Or use, localized field + non-localized asset per locale. Whichever fits your content best, but both should work.

Hope this helps

Cheers

[2017-06-12 12:02] dlitvakb commented on #126
Another solution, is to use a custom mapper, so that assets get every locale serialized, disregarding what the desired locale is, and use that instead.

This will complicate the accessor code a bit, and also have you re-implement the mapper. But if it's a tradeoff you're willing to do, it's something that's possible.

Cheers

[2017-06-12 13:03] fkamras commented on #126
Thanks!
I went with the first option. It feels a bit redundant linking the same image to all the fields, but it worked.

[2017-06-12 13:03] #126 closed

[2017-06-12 14:06] dlitvakb commented on #126
Glad it solved your problem!

Cheers

[2017-07-11 14:39] brtdwchtr commented on #124
Bumping this... Any updates, @dlitvakb ?

If it might help, the problem code can be found on line 32 of helpers.rb

`return value.fetch(locale) if value.key? locale`
`return value.fetch(fallback_locale) `

It will throw an error when trying to localize for example the _meta property of a datafile
[code]

I was thinking the solution might be to rewrite localize_value like this:
[code]
Unless just r

[2017-07-11 17:46] #120 closed

[2017-07-11 22:23] dlitvakb commented on #124
Fixed by #128

Thanks!

[2017-07-11 22:23] #124 closed

[2017-07-18 20:17] islegend opened #129 "Back reference example outdated?"
I am trying to figure out the best way to map back references. I stumbled upon: https://github.com/contentful/contentful_middleman/blob/master/examples/mappers/backref.rb but it seems that the syntax is out dated. Or am I just using it wrong? I am requiring it at the top of config.rb and passing it in as a mapper.

If it is outdated, is there anyway someone who knows how it works could update it?

[2017-07-21 06:58] rr1000 commented on #56
@dlitvakb - I guess I'm a little confused.

I was expecting to use the newly merged V4 branch as a part of master, however the Gemfile still requires 3.4. What's the solution here?

[2017-07-25 19:05] dlitvakb commented on #56
Hey @rr1000,

There is a branch called `dl/upgrade-to-v4` which is compatible with v4 and is completely up-to-date with the latest features in the master branch.

Cheers

[2017-08-04 00:05] dlitvakb commented on #129
Hey @islegend,

You're correct, this is outdated as it's using the `1.x` CDA SDK.

`e.sys[:contentType].id == @@content_type_id` should be changed to `e.sys[:content_type].id == @@content_type_id`. The rest can be kept as is.

I will update the snippet to reflect the current version.

Cheers

[2017-08-17 00:00] kylorhall opened #130 "Nested entires and assets are not transformed by localize_value."
The helper `localize_value` ignores all nested entries and links and will return only a partially localized value.

I also noticed that localized_entry converts an entry from a `Thor::CoreExt::HashWithIndifferentAccess` to a `Hash`, meaning the localized data is no longer accessible via symbol names (eg. `e[:id]` and `e['id']` before and only `e['id']` after).

Here's a Gist with some cleaned up d

[2017-08-17 02:25] dlitvakb commented on #130
Closed via #131.

[2017-08-17 02:25] #130 closed

[2017-08-18 02:03] javaporter opened #132 "Contentful info seems to be coming in as snake case vs camel case"
I'm not sure which commit caused this (sorry, I know that's not super helpful), but at some point, content with a space in the name started coming in as snake_case, when it used to be camelCase. So, even though [my Contentful ID is 'eventTitle'](https://www.dropbox.com/s/1293c2ij29prsqc/Screenshot%202017-08-17%2018.50.24.png?dl=0), when I pull it in via `middleman contentful`, it [comes in](https:

[2017-08-18 03:04] dlitvakb commented on #132
Hey @javaporter,

That is right, this has been a change introduced in May with release 2.0.0, you can find more info on what changed here: https://github.com/contentful/contentful_middleman/blob/master/CHANGELOG.md#200

If you want the previous behaviour, feel free to stay on the 1.x version.

I personally recommend you to upgrade to 2.x to keep up with the latest updates and improvements.

Cheers

[2017-08-18 14:38] javaporter commented on #132
I must have missed that. That'll learn me to bundle update and not read the terminal (actually, probably not, but maybe). Thanks for the fast response.

[2017-08-18 14:38] #132 closed

[2017-08-18 14:43] dlitvakb commented on #132
No problem,

Anyway, I'm planning to add an option for disabling snake_case, as there are some users that have isomorphic setups and would like to have them consistent.

I'll let you know when that's done, should be coming out within the next 2 months or so.

Cheers

[2017-08-28 22:01] dlitvakb commented on #129
This has been already done.

Closing.

Cheers

[2017-08-28 22:01] #129 closed

[2017-09-08 20:04] elliotec opened #133 "undefined method `contentful_instances' on running `middleman contentful`"
Just started a new middleman-blog app trying to integrate contentful_middleman. I'm using Middleman 4.2 and the `dl/upgrade-to-v4` branch as recommended in the readme. First thing i do is run `middleman contentful`, and it produces this error:

[code]

Here's my Gemfile, no other files have been touched:
[code]
Thanks in advance for your help!

[2017-09-10 10:04] andrezimpel commented on #70
I'm seeing one problem there: What if I have a local development stage (using preview api), staging system (using preview api) and  a production system which only should show published entries. Currently there is no way to run middleman contentful and adding a stage to it, right?

Or am I missing something here?

[2017-09-10 11:35] dlitvakb commented on #70
Hey @andrezimpel,

I've written this comment in StackOverflow about using environment variables to control development environments on middleman, please let me know if it helps.

https://stackoverflow.com/a/44928838/5439158

Cheers

[2017-09-10 12:02] andrezimpel commented on #70
Thanks bro!

[2017-10-11 15:45] joshkpeterson commented on #79
Found this old thread via google and it looks like some of these methods are outdated? Looking at the url and json preview, I only see the human readable name. cc @ericseandevlin

[2017-10-11 19:10] dlitvakb commented on #79
Hey @joshkpeterson,

If you're using the latest version of `contentful_middleman`, all you're entries now have a `_meta` attribute, in which you can find your `content_type_id`.

Cheers

[2017-10-17 16:40] dlitvakb commented on #133
Hey @elliotec,

Sorry for the delay in answering.

Looks like you're missing a require statement at the beginning of your `config.rb` file. Make sure that before the `activate :contentful` statement, you have a `require 'contentful_middleman'`.

If that doesn't solve the issue, make sure to try running the command through bundler: `bundle exec middleman contentful`, this will ensure that you're ru

[2017-10-31 14:22] tysongach commented on #56
Hi! 👋

I’m curious why `master` is staying with Middleman v3, while v4 has been out now for just shy of two years? The readme of this project states that v3 is the “most used version”, but I’m not sure that’s the case anymore? I know this doesn’t provide a complete picture, but a quick check on RubyGems shows v4 with many more downloads:

- [v4.2.1: 108,219 downloads](https://rubygems.org/gems/mid

[2017-10-31 16:10] dlitvakb commented on #56
Hey @tysongach,

It sounds like a good idea, I'll consider this when it's time to make a new release.

Maybe just make a new major release with the current state of the v4 branch and swap the master branch.

I'll bring this on my next PM meeting, as it's a super low effort task I may be able to squeeze it for this sprint.

Cheers

[2017-11-11 21:14] peeinears commented on #56
Re: Publishing v4 compatibility to Rubygems - Maybe too constraining, but one way to continue to develop and publish both v3 and v4 compatibility simultaneously could be to peg the major version number to Middleman's major version number (so contentful_middleman 3.x.x would use middleman 3.x.x and contentful_middleman 4.x.x would use middleman 4.x.x).

Also, what's the `v4-1.x-stable` used for? Be

[2017-11-11 22:03] dlitvakb commented on #56
Hey everybody,

A decision to make a new major release for v4 has been made and will be executed this upcoming week.

Regarding your questions @peeinears,

The `v4-1.x-stable` is the latest stable release of the v4 branch using the `1.x` releases of the CDA SDK.

We currently have the advantage that we haven't yet reached a major `v3` version of this gem, and therefore we could actually artificial

[2017-11-13 11:59] dlitvakb commented on #56
This has been done.

*Summary:*

* Middleman v3 compatible final major release is `3.0.0`
* Middleman v4 compatible release is now `4.0.0`.
* `dl/upgrade-to-v4` branch will continue to exist for a few months to allow people to migrate gracefully, this branch will receive no new updates.

This issue will be closed by the end of this week.

Please feel free to continue contributing and providing val

[2017-11-16 09:31] nnennajohn commented on #79
@joshkpeterson , yes. It seems quite a few things have change. And after searching for a few hours, I decided to give it a go with the human readable names you mentioned. And viola! It works. I think they replaced the cryptic versions with the human readable ones. To my contentTypeId is simply "articles", "articlesCategory", etc.

Hope this helps someone else and saves them a few hours of trying t

[2017-11-16 10:04] dlitvakb commented on #79
Hey @nnennajohn,

Could you explain me what you want to accomplish a bit more? That way I could provide more insightful information.

What do you want to achieve with those fields?

Cheers

[2017-11-16 10:26] dlitvakb commented on #79
Hey @nnennajohn,

Looks like you could do that with a `sys.updatedAt` query.

You can do it like this on `contentful_middleman`:

[code]

But you seem to be needing this on a JS application, and not on `contentful_middleman` (which is this repository), so I would advise you to drop in a support request on `https://support.contentful.com`. And they'll be able to provide you with the help you need.

[2017-11-16 21:04] nnennajohn commented on #79
@dlitvakb Thanks so much. I really appreciate it. Will head over there now.

[2017-11-29 06:01] #56 closed

[2017-11-29 06:02] #133 closed

[2017-11-30 23:37] steveafrost opened #135 "`middleman contentful` fails to create data folder"
I'm sure I'm doing this wrong but for the life of me can't figure out where I've messed up.

config.rb

[code]

When I run `middleman contentful` I get no exit errors and the token & space info is correct in my env file. I do get a site-space-hash file created though no data folder w/ the actual entries from Contentful.

Has anybody else had this happen? Ideas to triage? Thank you!

[2017-12-02 08:17] dlitvakb commented on #135
Hey @steveafrost,

Make sure that your content type ID is correct, seems like it may not be `shows`.

Cheers

[2017-12-02 23:53] steveafrost commented on #135
Oh yup, that was it. Thanks so much for your help on this user error. :)

[2017-12-02 23:53] #135 closed

[2018-01-19 00:15] allanwhite opened #136 "Does the new `links_to_entry` require updating the gem?"
Reading the recent post on [The secret lives of entries: Using incoming links to navigate content graphs](https://www.contentful.com/blog/2018/01/16/query-content-graphs-with-incoming-links/) on the Contentful blog; would we need to update the `contentful_middleman` gem to make use of this metadata? If so, what are the plans for that happening?

If it's a separate query, adding an example to the m

[2018-02-06 14:59] dlitvakb commented on #136
Hey @allanwhite,

I've been on parental leave until today,

I'll take a look into adding this, I'll get it done most likely tomorrow.

Cheers

[2018-02-07 13:52] dlitvakb commented on #136
Hey @allanwhite,

You can obtain this by doing `f.cda_query = {links_to_entry: 'entry_id'}`.

Same goes for `links_to_asset`.

Would you still like me to add an example?

Cheers

[2018-03-05 00:14] joshRpowell opened #137 "rebuild_on_webhook example?"
@dlitvakb could you elaborate on this feature?  perhaps with an example?

[2018-03-05 00:33] joshRpowell opened #138 "External pipeline unnecessarily running a build"
Hi @dlitvakb,

I'm running into a similar issue to this one: https://github.com/middleman/middleman/issues/1916

It popped up with a Netlify build using `middleman contentful --rebuild`.  I wasn't having any issues until Netlify updated their build recently.

The external pipeline is always kicked off when the plugin is activated.  So the `rebuild` runs both build? `true` and `false`:

[code]

`ya

[2018-03-05 09:14] dlitvakb commented on #138
Hey @joshRpowell,

I don't know how to help you with this, as this is a Netlify related issue, and not related to how `contentful_middleman` works.

Can you open a support ticket on their system?

Cheers

[2018-03-05 09:18] dlitvakb commented on #137
Hey @joshRpowell,

This is a development mode option only,

What is does is that when `rebuild_on_webhook` is enabled, when running `middleman server` and having either a port open in your machine so you can configure an incoming webhook or use a tool like `ngrok` to forward the requests to your machine. This will receive Contentful Webhooks and call `middleman contentful --rebuild` in order to te

[2018-03-05 11:38] joshRpowell commented on #138
@dlitvakb is this a Nelify issue if it occurs locally?

[2018-03-05 11:39] joshRpowell commented on #137
Yes thank you!

[2018-03-05 11:39] #137 closed

[2018-03-05 12:14] dlitvakb commented on #138
I guess not, but, how is this related to the Contentful integration?

I'm asking out of curiosity, not to disregard your question.

[2018-03-05 14:39] joshRpowell commented on #138
Learning something new every day...

I went through my notes && logs dating back to the first build on Netlify.  This issue appeared from the very beginning.  Netlify's solution was to run

[code]

We were getting the build error, but the second command `middleman build` masked the underlying problem.

With a fresh head, I decided to take a closer look at the config blocks to identify the differen

[2018-03-05 14:39] #138 closed

[2018-03-23 21:18] alexandra-aas commented on #87
@dlitvakb @mrh-is I'm looking to use contentful as the source of my blog posts. I see that patches were created, but I'm unsure how to actually implement this. I have contentful working and can grab the data, but I'm unsure how to actually use the data as the blog source. Any guidance would help. Thanks.

[2018-04-04 01:36] mosofoco opened #139 "`bundle exec middleman contentful` just hangs - no output"
I've tried both the v4 branch and the 4.0.0 gem on rubygems

I'm able to connect to Contentful with the contentful gem directly.

[2018-04-04 08:26] dlitvakb commented on #139
Hey @mosofoco,

Looks like you may be having a circular reference in your content.

You can tweak the resolution by changing the SDKs configuration using the `client_options` [option](https://github.com/contentful/contentful_middleman#configuration) and setting `max_include_resolution_depth: YOUR_INCLUDE_LEVEL + 1`, this will allow the client to quickly resolve and avoid getting stuck, as it is tr

[2018-04-20 10:48] tommotaylor opened #140 "Difficulty accessing data"
I have an issue related to how `middleman_contentful` is storing my data. The crux of the problem is that the data is being stored as an Array with two entries so I have to call `data.space_key.products.first[1][:title]` rather than `data.space_key.products.first[:title]`.

My hunch is that it has to do with the fact my files are being stored in a format like `data/space_key/products/5gonrj1a2k4sY

[2018-04-20 11:12] dlitvakb commented on #140
Hey @tommotaylor,

The result of `first` in this case is correct, because `products` is a hash indexed by entry ID, not an array.

You can either access your content by doing `.first[1][:title]` or iterating through the content with `.each do |_, product|`

Cheers

[2018-04-20 11:30] tommotaylor commented on #140
@dlitvakb Thanks for the quick response. I now see in the code examples use this `|id, partner|` to access the data.

May I suggest that a small line of copy be added that explains as you did to me, that the data when accessed "is a hash indexed by entry ID". This is different to how Middleman data usually works: https://middlemanapp.com/advanced/data-files.

Thank you for pointing this out!

[2018-04-20 11:41] dlitvakb commented on #140
Hey @tommotaylor,

This is not different to how the middleman tutorial explains it, the issue is that you're trying to access 1 level higher than what the middleman tutorial shows.

What you're trying to do is similar to doing `data.people.first` in that example. which would return `[:friends, Array]`. Actually, it would be trying to access 2 levels higher... but the example in those docs do not o

[2018-04-20 18:03] tommotaylor commented on #68
@dlitvakb Is there any scope to improve the way contentful_middleman handles this? I added an `order` to my content and sorted by it, but doing things like:
[code]
is pretty longwinded when a sort attribute or field in the config would be really handy.

[2018-04-21 04:09] dlitvakb commented on #68
Hey @tommotaylor,

This is not possible sadly, it is a limitation of how Middleman handles data files and not related to the integration itself.

While it would be possible to prepend an index to the data file name, and then middleman have it already sorted, it would remove the ability to do anything useful with the shorthand entry ID, and also would remove direct access to the entry if you don't

[2018-04-24 15:31] #140 closed

[2018-05-22 23:09] petrgazarov opened #141 "Imported data missing entries"
hi there,

since recently `middleman contentful` started showing strange behavior. The problem we have now is that some data are missing in data/ folder. These data are published, but do not seem to be imported by middleman contentful. Moreover, some data are often omitted when using this command without any apparent pattern or reason. I tried using `contentful-cli` tool to check and got all the d

[2018-05-23 08:51] dlitvakb commented on #141
Hey @petrgazarov,

This issue is most likely occurring because you exceeded the default `100` entries that are fetched without either enabling fetch to all entries or specifying a higher limit.

This is easily solvable by adding `f.all_entries = true` to your `activate :contentful` block. It will make sure that it will fetch all the entries in your space even if they exceed the `1000` maximum limi

[2018-05-23 17:17] petrgazarov commented on #141
hi @dlitvakb, adding `f.all_entries = true` did the trick, thanks

[2018-05-23 17:17] #141 closed

[2018-06-22 07:53] dagumak opened #143 "Where are you supposed to put the mappers?"
I didn't see this in the documentation. Where do I put the mappers in the project? How does contentful_middleman know it's included?

[2018-06-22 08:16] dlitvakb commented on #143
Hey @dagumak,

You can put them anywhere really, as long as you require them and set them on the `content_types` configuration option.

The way `contentful_middleman` is aware of your mappers is like follows:

[code]

Cheers

[2018-06-22 08:21] dagumak opened #144 "Why can't I have the same content-type?"
[code]
I would expect this to generate a folder for partners, and a folder for partnersTestimonials, but it is only generating the one with a mapper. How can I make one directory for the data untouched and one without?

[2018-06-22 08:36] dagumak opened #145 "How do I use the same content_type source to create new data?"
For example, one of my content_types has an attribute that is an array in each entry and I want to take all the arrays and create a new directory of new yamls. For example,
[code]

I want to map through each partner and create a directory of data with just projects.

[2018-06-22 08:37] dagumak commented on #143
@dlitvakb Thank you

[2018-06-22 08:48] dagumak opened #146 "Unclear what this error means"
Seems like there is an issue when I am using a custom mapper. I get the following error:

[code]

Here's my config:
[code]

[2018-06-22 08:49] dlitvakb commented on #145
Hey @dagumak,

Each entry will create a YAML file, if you want to have other content types mapped, you need to add them to the mapped content types and ensure you're fetching those entries.

Cheers

[2018-06-22 08:50] dlitvakb commented on #144
Hey @dagumak,

Content types can only be mapped once, therefore you should either look for a way to reuse your customized content, or what the default mapper provides.

Cheers

[2018-06-22 08:55] dagumak commented on #144
@dlitvakb  I can do the transformation on the view level, but it's dirty. It would be much cleaner to move that logic to the mapper and the views job is only to loop out all the data without any special transformations. Essentially, the mapper can allow me to map one source of data and then transform it. If I want to re-use that data and run a different mapper then I should be able to create multi

[2018-06-22 09:30] dlitvakb commented on #144
Hey @dagumak,

What you can do is map the data with the default mapper, and have view helpers to manipulate the data to match what you expect.

Something like:

[code]

Cheers

[2018-06-23 18:59] dagumak commented on #38
@neonichu So if I have 2 locales, then I should have to activate blocks for contentful? How do I target the correct locale if the data is mixed? Is there a way to separate the data into different paths?

[2018-08-02 09:41] dlitvakb commented on #146
Hey @dagumak,

Could you share your `activate :contentful` block and the definition of your custom mapper?

Cheers

[2018-08-02 09:42] #143 closed

[2018-08-02 09:42] #139 closed

[2018-08-02 09:42] #136 closed

[2018-08-02 09:44] dlitvakb commented on #106
The SDK now automtically filters out unpublished/deleted entries, therefore this is now done automatically when doing the exports.

Cheers

[2018-08-02 09:44] #106 closed

[2018-10-26 13:10] #89 closed

[2018-11-06 20:14] BooneTeam opened #150 "Unable to import multiple content types"
While doing what was suggested in [this closed ticket](https://github.com/contentful/contentful_middleman/issues/35) it seems to just overwrite the products folder and create a suggested_products folder within contentful
[code]

[2018-11-07 10:15] dlitvakb commented on #150
Hey @BooneTeam,

I tried replicating the issue you mention with our example space, and haven't been able to replicate it.

The `Gemfile` is:
[code]

The `config.rb` is:
[code]

The generated folder tree is:
[code]

Versions installed:
[code]

Import command output:
[code]

If you have more than 100 entries of either of the types, and the response of the request to contentful may only contain one o

[2018-11-07 17:46] BooneTeam commented on #150
Thanks @dlitvakb!

This line solved it.
[code]
When talking of 'entries' is this counting nested entries as well? I only have 18 suggestedProducts and 2 Products but for some reason it wasn't fetching all of them until adding that line.

[2018-11-08 02:17] dlitvakb commented on #150
Hey @BooneTeam,

The way this library works, is that by default, unless specified explicitly, it will request `/entries` without sending any additional parameters, this means that the library will fetch the first 100 entries the API replies with, with no specific order. Then inside that response will look for the content types you requested. This means that if you have over 100 entries, the defaul

[2018-12-29 12:36] neetso opened #151 "Backref example text incorrect"
I think the example provided in the [BackrefMapper](https://github.com/contentful/contentful_middleman/blob/master/examples/mappers/backref.rb) is incorrect (does not match the rest of the example description):

BackrefMapper(EMPLOYEE_CONTENT_TYPE_ID, 'department', 'employees')

I think it should be:

BackrefMapper(PRODUCT_CONTENT_TYPE_ID, 'company', 'products')

[2018-12-29 13:12] neetso opened #152 "NilClass with Backref Mapper"
I'm trying to use the example Backref Mapper but get a _undefined method `id' for nil:NilClass_ error.

I've included the BackrefMapper as a class

[code]

... and call it like this

[code]

[2019-01-02 15:13] #152 closed, assigned to nobody

[2019-01-02 15:15] neetso commented on #115
This would be really useful..

[2019-01-18 09:41] chrisbraucker opened #153 "Specs failing"
Hello everyone,

I've just cloned the repo, set up everything with bundler (`bundle install`) and running tests (`bundle exec rake test`) blows up even after several fresh clones.

I'm using MRI ruby 2.5.1 on MacOS 10.13.6, installed with RVM 1.29.4, and bundler 1.16.2.

[code]

Most, if not all errors seem to fail with this:
`ArgumentError:
        VCR::Request initialized with an invalid body: #

[2019-02-22 18:05] interhive commented on #153
More than a year later and these specs are still failing.

@dlitvakb, any plans to update/fix this library?

[2019-02-22 18:56] dlitvakb commented on #153
Hey @interhive,

I cannot seem to be able to reproduce this,

All specs are passing both on CI and on my machine.

Can you let me know what's your setup?

Cheers

[code]

[2019-02-22 20:33] interhive commented on #153
Executing `bundle exec rake test`, I get the following...

[code]

I ran `bundle env`, which results in:

## Environment

[code]

## Bundler Build Metadata

[code]

## Gemfile

### Gemfile

[code]

### Gemfile.lock

[code]

## Gemspecs

### contentful_middleman.gemspec

[code]

[2019-02-22 20:41] interhive commented on #153
I guess I should have mentioned I'm running macOS Mojave 10.14.3

[2019-02-22 20:48] interhive commented on #153
Searching around the Internet, it looks like people are having this same issue with particular versions of webmock. What specific version are you using? Perhaps that's the issue.

[2019-02-22 21:30] dlitvakb commented on #153
Hey @interhive,

The versions of VCR and WebMock I'm using are:

[code]

My system is:

[code]

Hope this helps,

Cheers

[2019-02-22 21:46] interhive commented on #153
That's strange because those are the same versions I'm using. I'll have to relook at rspec commands to get more information about the failed tests.

[2019-02-22 22:22] interhive commented on #153
I added the `--backtrace` flag to get more of the stack:

[code]

[2019-02-22 23:48] dlitvakb commented on #153
Can I ask what's the reason for running the specs?

Also, I'd recommend running the specs via `guard` or just by using the `rspec` command.

Cheers

[2019-07-03 21:39] joshRpowell opened #155 "Bump Middleman to v5.0.0"
Noticed there is a RC as of 5/24/19: https://github.com/middleman/middleman/compare/v4.3.4...v5.0.0.rc.1

[2019-07-04 08:44] neetso commented on #155
Anyone know which version of the contentful_middleman gem I should lock to if I'm staying on middleman 4.2 for the time being?

[2019-07-05 16:57] phuriphatpetdee commented on #106
@dlitvakb, so is it mean that we can't search for unpublished entries?

[2019-07-08 08:41] dlitvakb commented on #155
Hey @neetso,

You can stay in `contentful_middleman 4.x.x`, I've decided to keep the major numbers in line with Middleman's versioning.

@joshRpowell, thanks for the PR, I'll look into adding support for the 5.x version as soon as it gets an official release.

Cheers

[2019-07-08 08:41] #144 closed

[2019-07-08 08:42] #145 closed

[2019-07-08 08:43] #150 closed, assigned to nobody

[2019-07-08 08:43] #146 closed

[2019-07-08 08:44] #153 closed, assigned to nobody

[2019-07-18 14:37] brtdwchtr opened #157 "Processing hangs after updating the gem"
In one of our projects I updated the contentful_middleman gem to use the latest version, coming from the "dl/upgrade-to-v4" branch.

After this update, running the middleman contentful command with anything higher than "max_include_resolution_depth: 1"
in the config causes processing to hang after a few seconds.

I've tried playing with the all_entries_page_size, but that doesn't seem to help.

[2019-07-18 15:25] dlitvakb commented on #157
Hey @brtdwchtr,

This may be related to how your content model is done, it looks like you have multiple circular relationships.

Something that may make it go much faster is by enabling `reuse_entries: true` in the client options. This should make the SDK not re-create already hydrated entries.

Hope this helps,

Cheers

[2019-07-18 15:29] brtdwchtr commented on #157
thanks for the quick reply @dlitvakb

Thing is, I had issues with circular relationships before, but limiting the max depth to 2 and setting reuse_entries to true fixed it at the time and haven't had any problems since.

do you think any specific change in the latest releases has increased the vulnerability towards probs with circular relationships? This can't just be a performance problem, right?

[2019-07-18 17:00] dlitvakb commented on #157
Hey @brtdwchtr ,

This hasn't been changed in almost a year, so I don't really know what may be going on, have you considered setting the gem to use the latest release instead of the one in the branch?

Using `'contentful_middleman', '~> 4.0'` should do the trick.

Cheers

[2019-11-22 19:45] wanderingcrow commented on #68
Sorry, maybe not the same question, but similar, and after spending all morning on it, this was the closest issue I could find. I'm trying to find out if employees are on a specific team, and if so, sort_by a new field I created called sort_order.

Ruby is not my specialty, I muddle through due to the excellent community and documents around Middleman and Contentful.

What I have so far is:

[code

[2020-01-09 15:39] jameskirkby opened #158 "How to get all assets data?"
Hi

I've got a few entries and everything is working fine, my only issue is that for assets (specifically images), I'm not getting the image dimensions (width & height). Is this possible to include these for each linked asset?

Alternatively, is it possible to get all the assets data from a space, and add them to the local data folder? Something similar to this:
https://www.contentful.com/develope

[2020-07-15 17:57] frasermarlow opened #159 "After implementing locales, middleman config.rb won't allow nested loops."
We recently implemented locales in Contentful, and are pulling the .yaml files into Middleman just fine.
Now we need to rework all of our templates with the localization helpers as every single object in the .yaml file now has a :en-US: level...

But one issue we have encountered is that when we were proxying pages in a nested loop, these are no longer working.  We have spent ~16 people hours on t

[2020-07-22 17:17] frasermarlow commented on #159
I think we found a way to get this working, although either this fix or simply the upgrade to the new Middleman version has caused our site to grind to a halt during `middleman build`
https://stackoverflow.com/questions/62976636/how-to-get-nested-loops-in-config-rb-to-work-in-middleman

[2020-07-27 08:41] t1gerk1ngd0m opened #160 "How to set the pagination?"
Hello, I use this gem on our corporate blog site. It's easy to access to the Contentful.

But I'm in trouble because I cannot set the pagination. Are there any good way to set the pagination?

[2020-07-27 09:58] dlitvakb commented on #160
If you're fetching the content using `all_entries: true`, then it's a matter of defining either in the proxy section of your config the pages, by calculating the amount of entries you have vs how many you want per page, then passing those numbers (current page/page size) through locals where you can use them to iterate over your collection and skipping/collecting the right amount of entries. Or ha

[2020-10-09 17:29] Nagavijay-beachbody opened #161 "How to get Content of ant Entry with all nested links"
Hi Team

I am working on Preview mode,

I have a page and I would like to create a preview for each component(header, footer, banner, content1 content2) of  the page so kindly let me know if there is any wat to get it.

getEntry() ->  I have tried this method but I am not getting nested data with it
getEntries() -> with This method I am not getting data for specified entry id

Kindly Help me, If a

[2020-11-18 18:24] neetso opened #162 "Mapping an optional field"
Within a mapper, I'm trying to add some additional data derived from my contentful content. However, the field is not required and I get an error:  "'empty_field_error': The field 'restrictions' is empty and unavailable in the response'."

In the mapper I tried something like: unless.entry.restrictions.nil? or if.entry.restrictions.present? but I still get the error above.

How can you deal with o

[2020-11-19 04:33] rubydog commented on #162
Hey @neetso,

I am looking into it. I will get back to you if I need more details.

Cheers

[2021-07-01 22:28] colinbull opened #163 "NoMethodError `key?' for Contentful::Link - possibly due to contentful releases"
When running `bundle exec middleman contentful` we have started getting the following error. Previously the same content has been working but we have just started using contentful releases and I suspect that this is causing an invalid response somehow. However I have since removed the content from a release, unpublished and republished but the issue still persists.

**Stack trace**
[code]

**Versi

[2021-07-01 22:44] colinbull commented on #163
After further experimentation I can confirm that this is to do with the use of contentful release. It adds a tag to any content that represents the current step in the workflow. Upon removing this tag it works. While I'm now unblocked, I'll still leave this issue open as I believe this is still a bug.